{% extends "email/base_notification.html" %}
{% load i18n %}

{% block body %}
    {% blocktrans %}You have been invited by {{ user_name }} to join the {{ group_name }} group.{% endblocktrans %}<br/>
    <br/>
    {% blocktrans %}Follow the link below to become a member of the group.{% endblocktrans %}<br/>
    <br/>
    <a href="{{ link }}">{{ link }}</a>
{% endblock %}
