{% extends "email/base_notification.html" %}
{% load i18n %}

{% block title %}{{subject}}{% endblock %}

{% block header_subtitle %}
    {% if mail_type == 'direct' %}
        {% trans "Direct notification" as header_subtitle %}
    {% else %}
        {% trans "Notification overview" as header_subtitle %}
    {% endif %}
    {% include "email/element/header_subtitle.html" %}
{% endblock %}

{% block link_color %}
    a { color:{{primary_color}}; text-decoration:underline }
{% endblock %}

{% block body %}
    {% for notification in notifications  %}
        <hr style="border:none;border-bottom:1px solid #ececec;margin:1.5rem 0;width:100%">
        {% if notification.action == 'mentioned' %}
            {% if notification.type_to_string == 'chat_message' %}
                {% include "email/notifications/mentioned/chat_message.html" %}
            {% else %}
                {% include "email/notifications/mentioned/generic.html" %}
            {% endif %}
        {% elif notification.action == 'commented' %}
            {% include "email/notifications/commented/generic.html" %}
        {% elif notification.action == 'created' %}
            {% if notification.type_to_string == 'blog' %}
                {% include "email/notifications/created/blog.html" %}
            {% elif notification.type_to_string == 'discussion' %}
                {% include "email/notifications/created/discussion.html" %}
            {% elif notification.type_to_string == 'episode' %}
                {% include "email/notifications/created/episode.html" %}
            {% elif notification.type_to_string == 'event' %}
                {% include "email/notifications/created/event.html" %}
            {% elif notification.type_to_string == 'file' %}
                {% include "email/notifications/created/file.html" %}
            {% elif notification.type_to_string == 'podcast' %}
                {% include "email/notifications/created/podcast.html" %}
            {% elif notification.type_to_string == 'question' %}
                {% include "email/notifications/created/question.html" %}
            {% elif notification.type_to_string == 'statusupdate' %}
                {% include "email/notifications/created/update.html" %}
            {% elif notification.type_to_string == 'wiki' %}
                {% include "email/notifications/created/wiki.html" %}
            {% elif notification.type_to_string == 'news' %}
                {% include "email/notifications/created/news.html" %}
            {% else %}
                {% include "email/notifications/created/generic.html" %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}


{% block footer_settings %}
    <a href="{{ unsubscribe_url }}" style="color: #606160;">{% trans "Unsubscribe" %}</a> | <a href="{{ mail_settings_url }}" style="color: #606160">{% trans "Adjust your email settings" %}</a>
{% endblock %}
