{% extends "email/base_notification.html" %}
{% load i18n %}

{% block header_subtitle %}
    {% trans "Notification for website administrator" as header_subtitle %}
    {% include "email/element/header_subtitle.html" %}
{% endblock %}

{% block body %}
{% blocktrans %}Hello {{ admin_name }},<br><br>

Somebody with the name {{ request_name }} has performed an access request to {{ site_name }}.<br><br>

To review the request please visit:<br><br>

<a href="{{ site_admin_url }}">{{ site_admin_url }}</a>
{% endblocktrans %}
{% endblock %}
