
{% extends "email/base_notification.html" %}
{% load i18n %}

{% block body %}

    {% blocktrans %}Hello {{ request_name }},<br><br>

    The administrator approved your access request to {{ site_name }}. Log in immediately to confirm your membership:<br><br>
    {% endblocktrans %}

    <a href="{{ site_url }}">{{ site_url }}</a><br><br>
    <br><br>
    {% if intro %}
        {{ intro|linebreaks }}
        <br><br>
    {% endif %}

    {% if message %}
        {{ message|safe }}
        <br><br>
    {% endif %}

{% endblock %}
