
{% extends "email/base_notification.html" %}
{% load i18n %}

{% block header_subtitle %}
    {% trans "Notification for website administrator" as header_subtitle %}
    {% include "email/element/header_subtitle.html" %}
{% endblock %}

{% block body %}
    {% blocktrans %}The user <strong>{{ user_name }}</strong> has cancelled his/her request to remove his/her account. This account will no longer be visible on the <a href='{{ site_url }}/admin/users/delete-requests'>list</a> of removal requests.{% endblocktrans %}
{% endblock %}
