
{% extends "email/base_notification.html" %}
{% load i18n %}

{% block header_subtitle %}
    {% trans "Notification for website administrator" as header_subtitle %}
    {% include "email/element/header_subtitle.html" %}
{% endblock %}

{% block body %}
{% blocktrans %}Hi,<br><br>

The user {{ name_of_user_admin_role_changed }} was assigned as a new site administrator by {{ user_name }}.<br>
    Check out the profile of the new site administrator here <a href="{{ link }}">{{ link }}</a>.<br><br>

    If you believe this was done in error, please login here <a href="{{ site_url }}">{{ site_url }}</a> and undo this action.
{% endblocktrans %}
{% endblock %}
