
{% extends "email/base_notification.html" %}
{% load i18n %}

{% block body %}
{% blocktrans %}Hi {{ name_of_user_admin_role_changed }},<br><br>

Your site administrator role was removed by {{ user_name }}.<br><br>

If you believe this was done in error, please contact one of the other site administrators.
{% endblocktrans %}
{% endblock %}
