
{% extends "email/base_notification.html" %}
{% load i18n %}

{% block body %}
{% blocktrans %}Hi {{ name_of_user_admin_role_changed }},<br><br>

You've been assigned as a new site administrator by {{ user_name }}.<br><br>

Enjoy your new found rights by logging in here <a href="{{ site_url }}">{{ site_url }}</a>.<br><br>

If you believe this was done in error, please contact one of the other site administrators.
{% endblocktrans %}
{% endblock %}
