{% extends "email/base_notification.html" %}
{% load i18n %}

{% block body %}
    <p>{% blocktrans %}Dear {{ user_name }},{% endblocktrans %}</p>

    <p>{% trans "The import of users succeeded. Here are the stats:" %}</p>

    <ul>
        <li>
            {% if processed %}{% blocktrans %}{{ processed }} records processed.{% endblocktrans %}
        {% else %}
            {% trans "No records found in the CSV file." %}
        {% endif %}</li>
        {% if stats_created %}<li>{% blocktrans %}{{ stats_created }} users added.{% endblocktrans %}</li>{% endif %}
        {% if stats_updated %}<li>{% blocktrans %}{{ stats_updated }} users updated.{% endblocktrans %}</li>{% endif %}
        {% if stats_incomplete %}<li>{% blocktrans %}{{ stats_incomplete }} users with incomplete input.{% endblocktrans %}</li>{% endif %}
        {% if idp_exists %}<li>{% blocktrans %}{{ idp_exists }} users already had a login.{% endblocktrans %}</li>{% endif %}
        {% if idp_added %}<li>{% blocktrans %}{{ idp_added }} users will log on for the first time.{% endblocktrans %}</li>{% endif %}
    </ul>

    {% if errors %}
        <p>{% trans "Errors during import:" %}</p>
        <ul>
            {% for error, count in errors.items %}
                <li>{% blocktrans %}{{ error }} ({{ count }} users){% endblocktrans %}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
