{% extends "email/base_notification.html" %}
{% load i18n %}

{% block body %}
    {% blocktrans %}Confirm your registration for {{ title }}.{% endblocktrans %}<br><br>

    {% include "email/element/event_date_location.html" %}

    {% blocktrans %}Click on the link below to confirm.{% endblocktrans %}<br><br>

    <a href="{{ link }}">{{ link }}</a>
{% endblock %}
