{% extends "email/base_notification.html" %}
{% load i18n %}

{% block body %}
    {% blocktrans %}You are added as attendee for {{ title }} from the waitinglist.{% endblocktrans %}<br><br>

    {% include "email/element/event_date_location.html" %}<br>

    {% blocktrans %}Click on the link below to see the event.{% endblocktrans %}<br><br>

    <a href="{{ link }}">{{ link }}</a>
{% endblock %}
