{% extends "email/base_notification.html" %}
{% load i18n %}

{% block body %}
    {% blocktrans %}You have been invited by {{ invited_by }} to register for:{% endblocktrans %}<br><br>

    {{ title }}<br><br>

    {% include "email/element/event_date_location.html" %}

    {% blocktrans %}Click on the link below to confirm your presence of absence.{% endblocktrans %}<br><br>

    <a href="{{ link }}">{{ link }}</a>
{% endblock %}
