{% extends "sites/_tabs.html" %}

{% load i18n %}
{% load static %}

{% block title %}{% blocktrans %}Profile for {{ site_name }}{% endblocktrans %}{% endblock %}

{% block scripts %}
    <script src="{% static "form_commons.js" %}"></script>
{% endblock %}

{% block site_details %}
    <div id="form_wrapper">
        <form method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}

            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}

            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
            {% block form_content %}
            {% endblock %}
            <div class="row mt-3">
                <div class="col">
                    <div class="form-group">
                        {% block save_button %}
                            <button class="btn btn-primary" type="submit">{% trans "Save changes" %}</button>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
