{% load i18n %}
{% load static %}
{% load summary_elements %}

<div class="row mt-3">
    <div class="col-6">
        <div class="card">
            <h3 class="h6 card-header">{% trans "Moodle Source" %}</h3>
            <div class="card-body">
                <div class="form-group">{% include "form/field/render_field.html" with field=form.name %}</div>
                <div class="form-group mt-3">{% include "form/field/render_field.html" with field=form.plural_name %}</div>
                <div class="form-group mt-3">{% include "form/field/render_field.html" with field=form.feed_url %}</div>
                <div class="form-group mt-3">{% include "form/field/render_field.html" with field=form.feed_token %}</div>
            </div>
        </div>
    </div>
</div>
