{% load i18n %}
{% load static %}
{% load summary_elements %}

<div class="row mt-3">
    <div class="col-6">
        <div class="card">
            <h3 class="h6 card-header">{% trans "RSS Source" %}</h3>
            <div class="card-body">
                <div class="form-group">{% include "form/field/render_field.html" with field=form.name %}</div>
                <div class="form-group mt-3">{% include "form/field/render_field.html" with field=form.plural_name %}</div>
                <div class="form-group mt-3">{% include "form/field/render_field.html" with field=form.feed_url %}</div>
            </div>

        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <h3 class="h6 card-header">{% trans "Categories" %}</h3>
            <div class="card-body">
                <div class="form-group">{% include "form/field/render_field.html" with field=form.author_category_name %}</div>
                <div class="form-group mt-3">{% include "form/field/render_field.html" with field=form.subject_category_name %}</div>
            </div>
        </div>
        <div class="card mt-3">
            <h3 class="h6 card-header">{% trans "Similar content" %}</h3>
            <div class="card-body">
                <a class="btn btn-light" href="{% external_content_all_content_link %}">{% trans "Inspect content" %}</a>
                <a class="btn btn-light" href="{% external_content_settings_link %}">{% trans "Download Settings JSON" %}</a>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12">
        <div class="card">
            <h3 class="h6 card-header">{% trans "Filters" %}</h3>
            <div class="card-body">
                {% load_external_content_source_rss_filters as external_content_source_rss_filters %}
                {% if not external_content_source_rss_filters %}
                    <div><span class="badge {{ 0|badge_style }}">{% trans "No filters found" %}</span></div>
                {% else %}
                    <table class="table">
                        <tr>
                            <th>{% trans "Filter" %}</th>
                            <th>{% trans "Full feed url" %}</th>
                            <th>{% trans "Category" %}</th>
                            <th></th>
                        </tr>
                        {% for rss_filter in external_content_source_rss_filters %}
                            <tr>
                                <td>{{ rss_filter.filter }}</td>
                                <td>{{ rss_filter.full_path }}</td>
                                <td>{% if rss_filter.categories %}
                                    {% for category in rss_filter.categories %}
                                        <div class="text-nowrap">{{ category.name }}: {{ category.values|join:", " }}</div>
                                    {% endfor %}

                                {% endif %}</td>
                                <td class="text-right">
                                    <div class="btn-group">
                                        <a class="btn btn-primary btn-sm"
                                            href="{{ rss_filter.edit_url }}">{% trans "update" %}</a>
                                        <a class="btn btn-warning btn-sm"
                                            href="{{ rss_filter.delete_url }}">{% trans "delete" %}</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
                <div class="mt-3">
                    <a href="{% add_external_content_source_rss_filter_url %}"
                        class="btn btn-primary">{% trans "Add filter" %}</a>
                </div>
            </div>
        </div>
        <div class="card mt-3">
            <h3 class="h6 card-header">{% trans "Tag images" %}</h3>
            <div class="card-body">
                {% load_external_content_source_tag_images as external_content_source_tag_images %}
                {% if not external_content_source_rss_filters %}
                    <div><span class="badge {{ 0|badge_style }}">{% trans "No tag images found" %}</span></div>
                {% else %}
                    <div class="row">
                        {% for tag_image in external_content_source_tag_images %}
                            <div class="col-4 mb-3">
                                <h4>{{ tag_image.category }}: {{ tag_image.tag }}</h4>
                                <img alt="{{ tag_image.alt }}" src="{{ tag_image.src }}" class="img-thumbnail"/>
                                <div class="mb-2">
                                    <strong>{{ tag_image.alt }}</strong>
                                </div>
                                <div class="btn-group">
                                    <a href="{{ tag_image.edit_url }}"
                                        class="btn btn-primary btn-sm">{% trans "update" %}</a>
                                    <a href="{{ tag_image.delete_url }}"
                                        class="btn btn-warning btn-sm">{% trans "delete" %}</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="mt-3">
                    <a href="{% add_external_content_source_tag_image_url %}"
                        class="btn btn-primary">{% trans "Add tag image" %}</a>
                </div>
            </div>
        </div>
    </div>
</div>
