{% extends "sites/_tabs.html" %}

{% load i18n %}
{% load static %}
{% load control_utils %}

{% block title %}{% blocktrans %}Start background tasks at {{ site_name }}{% endblocktrans %}{% endblock %}

{% block site_details %}
    <div class="row">
        <div class="col">
            <div class="card mb-3">
                <h3 class="h6 card-header">{% trans "Background tasks" %}</h3>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {% for task_id, label in background_tasks %}
                            <div class="mb-3">
                                <button class="btn btn-primary" name="{{ task_id }}">{{ label }}</button>
                            </div>
                        {% endfor %}
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-3">
                <h3 class="h6 card-header">{% trans "Links" %}</h3>
                <div class="card-body">
                    <p>{% blocktrans %}This task will replace links to a old domain with the current
                        domain.{% endblocktrans %}</p>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            <label for="old_domain">{% trans "Old domain" %}</label>
                            <input type="text" name="old_domain" class="form-control"/>
                            <div class="form-text">{% blocktrans %}Insert the old domain name to be replaced (format:
                                support.pleio.nl){% endblocktrans %}</div>
                        </div>
                        <div class="form-group mb-3">
                            <button class="btn btn-primary" name="replace_links">{% trans "Replace links" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
