{% extends "sites/_tabs.html" %}

{% load i18n %}
{% load static %}
{% load control_utils %}

{% block title %}{% blocktrans %}Copy groups from {{ site_name }}{% endblocktrans %}{% endblock %}

{% block scripts %}
    <script src="{% static "form_commons.js" %}"></script>
{% endblock %}

{% block site_details %}
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="card mb-3">
                <h3 class="h6 card-header">{% trans "Group copy" %}</h3>
                <div class="card-body">
                    <p>{% trans "Make a full copy of a group within a site or to another site." %}</p>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            {% include "form/field/render_field.html" with field=form.source_group %}
                        </div>
                        <div class="form-group mb-3" data-effect-mapping="{% group_names_for_copy_json %}"
                             data-effect-source="id_source_group" data-effect-target="id_target_group_name">
                            {% include "form/field/render_field.html" with field=form.target_group_name %}
                        </div>
                        <div class="form-group mb-3">
                            {% include "form/field/render_field.html" with field=form.target_schema %}
                        </div>
                        <div class="form-group mb-3">
                            {% include "form/field/render_checkbox.html" with field=form.copy_members %}
                        </div>
                        <div class="form-group mb-3">
                            <button class="btn btn-primary">{% trans "Start" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8">
            <div class="card mb-3">
                <h3 class="h6 card-header">{% trans "Background task status" %}</h3>
                <div class="card-body">
                    {% if background_tasks %}
                        <table class="table">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Schema</th>
                            <th>Group name</th>
                            <th>Status</th>
                            <th>Response</th>
                        </tr>
                        </thead>
                            {% for task in background_tasks %}
                                <tr>
                                    <td>{{ task.created_at|date:"SHORT_DATETIME_FORMAT" }}</td>
                                    <td>{{ task.target_tenant }}</td>
                                    <td>{{ task.target_group_name }}</td>
                                    <td>{{ task.task_state }}</td>
                                    <td>{{ task.task_response }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <p>{% trans "Did not find background tasks yet." %}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
