{% extends "sites/profile/_summary.html" %}

{% load i18n %}
{% load static %}
{% load summary_elements %}

{% block summary %}
    {% load_custom_agreements as custom_agreements %}
    {% if not custom_agreements %}
        <div><span class="badge {{ 0|badge_style }}">{% trans "No custom agreements have been added yet" %}</span></div>
    {% else %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Filename" %}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for agreement in custom_agreements %}
                <tr>
                    <td>{{ agreement.name }}</td>
                    <td>{{ agreement.filename }}</td>
                    <td>
                        <a href="{{ agreement.url }}">{% trans "view" %}</a> /
                        <a href="{{ agreement.delete_url }}">{% trans "delete" %}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
