{% extends "sites/profile/_form.html" %}

{% load i18n %}
{% load static %}

{% block form_content %}
    <div class="row mt-3">
        <div class="col-12">
            <div class="card">
                <h3 class="h6 card-header">{% trans "Add custom agreement" %}</h3>
                <div class="card-body">
                    <div class="form-group">{% include "form/field/render_field.html" with field=form.name %}</div>
                    <div class="form-group mt-3">{% include "form/field/render_field.html" with field=form.document %}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
