{% extends "sites/profile/_form.html" %}

{% load i18n %}
{% load static %}

{% block form_content %}
    <div class="row mt-3">
        <div class="col-12">
            <div class="card">
                <h3 class="h6 card-header">{% trans "Delete agreement" %}</h3>
                <div class="card-body">
                    <p>{% blocktrans with agreement=agreement.name %}Are you sure that you want to remove
                        {{ agreement }}?{% endblocktrans %}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block save_button %}
    <button class="btn btn-danger" type="submit">{% trans "Delete" %}</button>
{% endblock %}
