{% extends "sites/_tabs.html" %}

{% load i18n %}
{% load static %}
{% load control_utils %}
{% load core_str %}

{% block title %}{% blocktrans %}Result for {{ site_name }}{% endblocktrans %}{% endblock %}

{% block site_details %}
    <div class="row">
        <div class="col-12 col-lg-9">
            <div class="card">
                <h3 class="h6 card-header">{% blocktrans with index_name=request.GET.index %}Result for
                    {{ index_name }}{% endblocktrans %}</h3>
                <div class="card-body">
                    {% if result.data %}
                        <p>
                            {% define result.total as total %}
                            {% define result.first as first %}
                            {% define result.last as last %}
                            {% blocktrans %}
                                Found {{ total }} results. Showing {{ first }} to {{ last }}.
                            {% endblocktrans %}
                        </p>
                        <pre>{{ result.data|default_if_none:"" }}</pre>
                    {% else %}
                        <p>{% trans "No result found" %}</p>
                    {% endif %}
                </div>
            </div>
            {% if result.config %}
                <div class="card mt-2">
                    <h3 class="h6 card-header">{% blocktrans with index_name=request.GET.index %}Configuration for
                        {{ index_name }}{% endblocktrans %}</h3>
                    <div class="card-body">
                        <pre>{{ result.config }}</pre>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-12 col-lg-3">
            <div class="card">
                <h3 class="h6 card-header">Redo query</h3>
                <div class="card-body">
                    <form method="get" action="{% url "site_elasticsearch_index_diagnostics" site_id=site.id %}">
                        <div class="form-group mb-2">
                            <label class="visually-hidden" for="index">Index</label>
                            <select name="index" id="index" class="form-control">
                                <option value="_all">{% trans "All indices" %}</option>
                                {% for index_id in indices %}
                                    <option value="{{ index_id }}"
                                            {% if index_id == request.GET.index %}selected{% endif %}>{{ index_id }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group mb-2">
                            <label class="visually-hidden" for="query">{% trans "Query" %}</label>
                            <input type="text" name="query" id="query" class="form-control"
                                   value="{{ request.GET.query|default_if_none:"" }}"
                                   placeholder="{% trans "Query" %}">
                        </div>
                        <div class="form-group mb-2">
                            <label class="" for="page">{% trans "Page" %}</label>
                            <input type="number" name="page" id="page" class="form-control"
                                   value="{{ request.GET.page|default_if_none:"1" }}"
                                   placeholder="{% trans "Page" %}">
                        </div>
                        <div class="form-group mb-2">
                            <label class="" for="size">{% trans "Size" %}</label>
                            <input type="number" name="size" id="size" class="form-control"
                                   value="{{ request.GET.size|default_if_none:"10" }}"
                                   placeholder="{% trans "Size" %}">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">{% trans "Search" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
