{% extends "sites/_tabs.html" %}

{% load i18n %}
{% load static %}
{% load control_utils %}

{% block title %}{% blocktrans %}Elasticsearch indices at {{ site_name }}{% endblocktrans %}{% endblock %}

{% block site_details %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <h3 class="h6 card-header">{% trans "Query content" %}</h3>
                <div class="card-body">
                    <form method="get" action="{% url "site_elasticsearch_index_diagnostics" site_id=site.id %}">
                        <input type="hidden" name="page" value="1">
                        <input type="hidden" name="size" value="10">
                        <div class="d-flex">
                            <div class="form-group me-2">
                                <label class="visually-hidden" for="index">Index</label>
                                <select name="index" id="index" class="form-control">
                                    <option value="_all">{% trans "All indices" %}</option>
                                    {% for index_id, index in indices %}
                                        <option value="{{ index_id }}"
                                                {% if index_id == request.GET.index %}selected{% endif %}>{{ index_id }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group me-2">
                                <label class="visually-hidden" for="query">{% trans "Query" %}</label>
                                <input type="text" name="query" id="query" class="form-control"
                                       placeholder="{% trans "Query" %}">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">{% trans "Search" %}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card mt-2">
                <h3 class="h6 card-header">{% trans "List of indices" %}</h3>
                <div class="card-body">
                    <div class="mb-3">
                        {% include "form/elasticsearch/manage_all.html" %}
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>{% trans "Index" %}</th>
                            <th>{% trans "Expected" %}</th>
                            <th>{% trans "Actual" %}</th>
                            <th>{% trans "Status" %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for index_id, index in indices %}
                            <tr>
                                <td>{{ index_id }}</td>
                                <td>{{ index.expected }}</td>
                                <td>{{ index.actual }}</td>
                                <td style="width:50%;">
                                    <div class="d-flex justify-content-between">
                                        <div class="mx-2">{{ index.alert|bool2text:"❗✅" }}</div>
                                        {% include "form/elasticsearch/index_controls.html" %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
