{% extends "sites/profile/_form.html" %}

{% load i18n %}
{% load static %}

{% block form_content %}
    <div class="row mt-3">
        <div class="col-12">
            <div class="card">
                {% if is_add %}
                    <h3 class="h6 card-header">{% trans "Add RSS filter" %}</h3>
                {% elif is_delete %}
                    <h3 class="h6 card-header">{% trans "Delete RSS filter" %}</h3>
                {% else %}
                    <h3 class="h6 card-header">{% trans "Update RSS filter" %}</h3>
                {% endif %}
                <div class="card-body">
                    {% if is_delete %}
                        <p>{% trans "Do you want to delete this filter?" %}</p>
                        <table class="table">
                            <tr>
                                <th>{% trans "Filter" %}</th>
                                <td>{{ filter.filter }}</td>
                            </tr>
                            <tr>
                                <th>{% trans "Category" %}</th>
                                <td>{% if filter.categories %}
                                    {% for category in filter.categories %}
                                        <div class="text-nowrap">{{ category.name }}: {{ category.values|join:", " }}</div>
                                    {% endfor %}
                                {% endif %}</td>
                            </tr>
                        </table>
                    {% else %}
                        <div class="form-group">{% include "form/field/render_field.html" with field=form.filter %}</div>
                        <div class="form-group mt-3">{% include "form/field/render_field.html" with field=form.categories %}</div>
                        <div>
                            <small class="text-muted">{% trans "Input format:" %}</small>
                            <pre class="p-2 bg-light border">Region: Anywhere<br>Subject: Funny, Nice, Practical</pre>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block save_button %}
    {% if is_add %}
        <button class="btn btn-primary" type="submit">{% trans "Add" %}</button>
    {% elif is_delete %}
        <button class="btn btn-danger" type="submit">{% trans "Delete" %}</button>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}
