{% extends "sites/_tabs.html" %}

{% load i18n %}
{% load static %}
{% load external_content %}

{% block site_details %}
    <h3>{% blocktrans with source_plural_name=source.plural_name %}Overview of
        {{ source_plural_name }}{% endblocktrans %}</h3>

    {% if items %}
        <table class="table">
            <thead>
            <tr>
                <th style="width: 45%;">{% blocktrans %}Entity{% endblocktrans %}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr class="">
                    <td class="{% if not item.published %} bg-warning{% endif %}">
                        <div class="row">
                            <div class="col">
                                <div class="form-text">{{ item.id }}</div>
                                <a href="{{ item.url }}" target="_blank">{{ item|article_published_datetime|date }} - {{ item.title }}</a>
                            </div>
                        </div>
                        <div class="row">
                            {% for category in item.category_tags %}
                                <div class="col"><small><strong>{{ category.name }}:</strong> {{ category.values.0 }}
                                </small></div>
                            {% endfor %}
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col">
                                <div class="button-placeholder" data-button-title="{% trans "Lookup similar content" %}" data-entity-id="{{ item.id }}">-</div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{% blocktrans with source_plural_name=source.plural_name %}No flagged {{ source_plural_name }}
            found{% endblocktrans %}</p>
    {% endif %}

    {% include "elements/pagination.html" with pagination_container=items %}

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static "control/external_content/similarity_test.js" %}"></script>
{% endblock %}
