{% extends "sites/profile/_summary.html" %}

{% load i18n %}
{% load static %}
{% load summary_elements %}

{% block summary %}
    {% load_external_content_sources as sources %}
    {% if not sources %}
        <div><span
                class="badge {{ 0|badge_style }}">{% trans "No external content sources have been added yet" %}</span>
        </div>
    {% else %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Type" %}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for source in sources %}
                <tr>
                    <td>{{ source.name }}</td>
                    <td>{{ source.type }}</td>
                    <td class="text-end">
                        {% if source.update_url %}
                            <a href="{{ source.update_url }}">{% trans "update" %}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
