{% extends "sites/profile/_form.html" %}

{% load i18n %}
{% load static %}

{% block form_content %}
    <div class="row mt-3">
        <div class="col-12">
            <div class="card">
                <h3 class="h6 card-header">{% trans "Add tag image" %}</h3>
                <div class="card-body">
                    <div class="form-group">{% include "form/field/render_field.html" with field=form.category_tag %}</div>
                    <div class="row mt-3">
                        <div class="form-group col-6">{% include "form/field/render_field.html" with field=form.category %}</div>
                        <div class="form-group col-6">{% include "form/field/render_field.html" with field=form.tag %}</div>
                    </div>
                    <div class="form-group mt-3">{% include "form/field/render_field.html" with field=form.y_position %}</div>
                    <div class="form-group mt-3">{% include "form/field/render_field.html" with field=form.image_guid %}</div>
                    <div class="form-group mt-3">{% include "form/field/render_field.html" with field=form.file_upload %}</div>
                    <div class="form-group mt-3">{% include "form/field/render_field.html" with field=form.alt_text %}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block save_button %}
    <button class="btn btn-primary" type="submit">{% trans "Add" %}</button>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static "control/external_content/image_tag.js" %}"></script>
{% endblock %}
