{% extends "sites/profile/_form.html" %}

{% load i18n %}
{% load static %}

{% block form_content %}
    <div class="row mt-3">
        <div class="col-12">
            <div class="card">
                <h3 class="h6 card-header">{% trans "Add Source" %}</h3>
                <div class="card-body">
                    <div class="form-group">{% include "form/field/render_field.html" with field=form.type %}</div>
                    <div class="form-group">{% include "form/field/render_field.html" with field=form.name %}</div>
                    <div class="form-group mt-3">{% include "form/field/render_field.html" with field=form.plural_name %}</div>
                    <div class="form-group mt-3">
                        <p>{% trans "Provide source details in the next step." %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block save_button %}
    <button class="btn btn-primary" type="submit">{% trans "Next" %}</button>
{% endblock %}
