{% extends "sites/profile/_form.html" %}

{% load i18n %}
{% load static %}

{% block form_content %}
    <div class="row mt-3">
        <div class="col-12">
            <div class="card">
                <h3 class="h6 card-header">{% trans "Update update tag image" %}</h3>
                <div class="card-body">
                    <div class="row">
                        <div class="col-9">
                            <div class="form-group">{% include "form/field/render_field.html" with field=form.category_tag %}</div>
                            <div class="row">
                                <div class="form-group col-6">{% include "form/field/render_field.html" with field=form.category %}</div>
                                <div class="form-group col-6">{% include "form/field/render_field.html" with field=form.tag %}</div>
                            </div>
                            <div class="form-group mt-3">{% include "form/field/render_field.html" with field=form.y_position %}</div>
                            <div class="form-group mt-3">{% include "form/field/render_field.html" with field=form.image_guid %}</div>
                            <div class="form-group mt-3">{% include "form/field/render_field.html" with field=form.alt_text %}</div>
                            <div class="form-group mt-3">{% include "form/field/render_field.html" with field=form.replacement_file %}</div>
                        </div>
                        <div class="col-3">
                            {% if tag_image.url %}
                                <img src="{{ tag_image.url }}" class="img-fluid" alt="{{ tag_image.alt_text }}">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static "control/external_content/image_tag.js" %}"></script>
{% endblock %}
