{% extends "sites/profile/_form.html" %}

{% load i18n %}
{% load static %}
{% load summary_elements %}

{% block form_content %}
    {% if source.handler_id == 'rss' %}
    <div class="row mt-3">{% include "sites/profile/_rss_source_form.html" %}</div>
    {% elif source.handler_id == 'moodle' %}
    <div class="row mt-3">{% include "sites/profile/_moodle_source_form.html" %}</div>
    {% endif %}
{% endblock %}
