{% extends "sites/profile/_form.html" %}

{% load i18n %}
{% load static %}

{% block form_content %}
    <div class="row mt-3">
        <div class="col-12">
            <div class="card">
                <h3 class="h6 card-header">{% trans "Delete tag image" %}</h3>
                <div class="card-body">
                    <p>{% trans "Do you want to delete this tag image?" %}</p>
                    <table class="table">
                        <tr>
                            <th>{% trans "Category" %}</th>
                            <td>{{ tag_image.category }}: {{ tag_image.tag }}</td>
                        </tr>
                        <tr>
                            <th>{% trans "Alt text" %}</th>
                            <td>{{ tag_image.alt_text }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <img src="{{ tag_image.src }}" class="img-fluid" alt="{{ tag_image.alt_text }}">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block save_button %}
    <button class="btn btn-danger" type="submit">{% trans "Delete" %}</button>
{% endblock %}
