{% extends "sites/profile/_summary.html" %}

{% load i18n %}
{% load static %}
{% load summary_elements %}

{% block summary %}
    {% config "CUSTOM_JAVASCRIPT" as custom_javascript_value %}
    <h6>{% trans "Custom Javascript" %}</h6>
    {% if custom_javascript_value %}
        <pre class="border-1 p-3 bg-light">{{ custom_javascript_value }}</pre>
    {% else %}
        <span class="badge {{ 0|badge_style }}">{% trans "No custom javascript has been added yet" %}</span>
    {% endif %}
    <h6 class="mt-3">{% trans "CSP header exceptions" %}</h6>
    {% load_csp_header_exceptions as csp_header_exceptions %}
    {% if csp_header_exceptions %}
        <table class="table">
            <thead>
            <tr>
                <th>{% trans "Url" %}</th>
                <th>{% trans "Source types" %}</th>
            </tr>
            </thead>
            {% for exception in csp_header_exceptions %}
                <tr>
                    <td>{{ exception.url }}</td>
                    <td>
                        {% for type in exception.types %}
                            <span class="badge bg-success text-light">{{ type }}</span>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div><span class="badge {{ 0|badge_style }}">{% trans "No CSP header exceptions have been added yet" %}</span>
        </div>
    {% endif %}
{% endblock %}
