{% extends "sites/profile/_form.html" %}

{% load i18n %}
{% load static %}
{% load summary_elements %}

{% block html_head %}
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
{% endblock %}

{% block form_content %}
    {% load_csp_src_types as csp_src_types %}
    <div class="row mt-3">
        <div class="col-12">
            <div class="card">
                <h3 class="h6 card-header">{% trans "HTML HEAD Section" %}</h3>
                <div class="card-body">
                    <div class="form-group mb-3">
                        <label for="id_custom_javascript" class="h6">{% trans "Custom Javascript" %}</label>
                        <textarea name="custom_javascript" class="form-control" id="id_custom_javascript"
                                  rows="5" v-model="html_head.custom_javascript"></textarea>
                        <div class="form-text">{% blocktrans %}Add custom javascript that will be captured within a
                            &lt;script&gt; tag. There is no syntax check, so use a tool like
                            <a target="_blank" href="https://jshint.com/">jshint</a> to check the validity.
                        {% endblocktrans %}</div>
                    </div>
                    <h6>{% trans "CSP Header Exceptions" %}</h6>
                    {% if form.csp_header_exceptions.errors %}
                        {% for error in form.csp_header_exceptions.errors %}
                            <div class="alert alert-danger">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div v-for="(exception_details, index) in html_head.csp_header_exceptions" :key="index"
                         class="form-group mb-3 border rounded pt-2 px-3 bg-light">
                        <div class="mb-2">
                            <label :for="`id_csp_header_exceptions_${index}_url`">{% trans "Exception URL" %}</label>
                            <input type="text" class="form-control"
                                   :id="`id_csp_header_exceptions_${index}_url`"
                                   v-model="html_head.csp_header_exceptions[index].url"
                                   :name="`csp_header_exceptions[${index}][url]`"
                                   class="mb-3" required>
                        </div>
                        <div class="d-flex flex-wrap">
                            <div v-for="(type, t_index) in html_head.csp_header_exceptions[index].types" :key="t_index"
                                 class="mb-2 me-2">
                                <select class="form-control"
                                        v-model="html_head.csp_header_exceptions[index].types[t_index]"
                                        :name="`csp_header_exceptions[${index}][types][${t_index}]`"
                                        required>
                                    {% for csp_src_type in csp_src_types %}
                                        <option value="{{ csp_src_type }}">{{ csp_src_type }}</option>
                                    {% endfor %}
                                </select>
                                <button type="button" class="btn btn-danger btn-sm mt-2"
                                        @click="html_head.csp_header_exceptions[index].types.splice(t_index, 1)">
                                    Remove type
                                </button>
                            </div>
                        </div>
                        <div class="d-flex border-top pt-2 mb-3 border-top justify-content-between">
                            <button type="button" class="btn btn-success btn-sm me-2"
                                    @click="html_head.csp_header_exceptions[index].types.push('')">
                                {% trans "Add type" %}
                            </button>
                            <button type="button" class="btn btn-danger btn-sm me-2"
                                    @click="html_head.csp_header_exceptions.splice(index, 1)">
                                {% trans "Remove exception" %}
                            </button>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success btn-sm"
                            @click="html_head.csp_header_exceptions.push({url: 'https://', types: ['img-src', 'frame-src']})">
                        {% trans "Add exception" %}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        const app = Vue.createApp({
            delimiters: ['({', '})'],
            data() {
                return {
                    html_head: {{ form_values|safe }}
                }
            },
            methods: {}
        });

        app.mount('#form_wrapper');
    </script>
{% endblock %}
