{% extends "sites/_tabs.html" %}

{% load i18n %}
{% load static %}

{% block title %}{% blocktrans %}Profile for {{ site_name }}{% endblocktrans %}{% endblock %}

{% block site_details %}
    <div class="row">
        <div class="col-12 col-xl-6">
            <div class="card">
                <h3 class="h6 card-header">{% trans "Optional features" %}</h3>
                <div class="card-body">
                    {% include "sites/profile/optional_features_summary.html" %}
                    <div class="mt-3">
                        <a href="{% url "site_profile_optional_features" site.id %}" class="btn btn-primary btn-sm">{% trans "Update" %}</a>
                    </div>
                </div>
            </div>
            <div class="card mt-3">
                <h3 class="h6 card-header">{% trans "Rich text editor features" %}</h3>
                <div class="card-body">
                    {% include "sites/profile/rich_text_editor_features_summary.html" %}
                    <div class="mt-3">
                        <a href="{% url "site_profile_rich_text_editor_features" site.id %}" class="btn btn-primary btn-sm">{% trans "Update" %}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mt-3 col-xl-6 mt-xl-0">
            <div class="card">
                <h3 class="h6 card-header">{% trans "Login options" %}</h3>
                <div class="card-body">
                    {% include "sites/profile/login_options_summary.html" %}
                    <div class="mt-3">
                        <a href="{% url "site_profile_login_options" site.id %}" class="btn btn-primary btn-sm">{% trans "Update" %}</a>
                    </div>
                </div>
            </div>
            <div class="card mt-3">
                <h3 class="h6 card-header">{% trans "Profile field sets" %}</h3>
                <div class="card-body">
                    {% include "sites/profile/profilefieldset_summary.html" %}
                    <div class="mt-3">
                        <a href="{% url "site_profile_profilefieldset" site.id "add" %}" class="btn btn-primary btn-sm">{% trans "Add profile set" %}</a>
                    </div>
                </div>
            </div>
            <div class="card mt-3">
                <h3 class="h6 card-header">{% trans "External content sources" %}</h3>
                <div class="card-body">
                    {% include "sites/profile/external_content_summary.html" %}
                    <div class="mt-3">
                        <a href="{% url "site_profile_external_content_add_source" site.id %}" class="btn btn-primary btn-sm">{% trans "Add source" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <div class="card">
                <h3 class="h6 card-header">{% trans "HTML HEAD Section" %}</h3>
                <div class="card-body">
                    {% include "sites/profile/html_head_summary.html" %}
                    <div class="mt-3">
                        <a href="{% url "site_profile_html_head" site.id %}" class="btn btn-primary btn-sm">{% trans "Update" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <div class="card">
                <h3 class="h6 card-header">{% trans "Meetings settings" %}</h3>
                <div class="card-body">
                    {% include "sites/profile/meetings_settings_summary.html" %}
                    <div class="mt-3">
                        <a href="{% url "site_profile_meetings_settings" site.id %}" class="btn btn-primary btn-sm">{% trans "Update" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <div class="card">
                <h3 class="h6 card-header">{% trans "Custom agreements" %}</h3>
                <div class="card-body">
                    {% include "sites/profile/custom_agreements_summary.html" %}
                    <div class="mt-3">
                        <a href="{% url "site_profile_add_custom_agreement" site.id %}" class="btn btn-primary btn-sm">{% trans "Add custom agreement" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
