{% extends "sites/profile/_form.html" %}

{% load i18n %}
{% load static %}

{% block form_content %}

    <div class="row">
        <div class="col-12 col-xl-6">
            <div class="card">
                <h3 class="h6 card-header">{% trans "Login options" %}</h3>
                <div class="card-body">
                    {% include "form/field/render_field.html" with field=form.login_options %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
