{% extends "sites/profile/_summary.html" %}

{% load i18n %}
{% load static %}
{% load summary_elements %}

{% block summary %}
    <ul class="list-unstyled text-start">
        {% login_options as login_options_status %}
        {% for is_active, label in login_options_status %}
            <li class="d-flex">
                {% include "elements/boolean_check.html" with condition=is_active %}
                <div> {{ label }} </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
