{% extends "sites/profile/_summary.html" %}
{% load i18n %}
{% load static %}
{% load summary_elements %}

{% block summary %}
    <div class="row">
        <div class="col-12 col-xl-6">
            <h5>{% trans "Onlineafspraken settings" %}</h5>
            {% config "ONLINEAFSPRAKEN_ENABLED" as online_afspraken_enabled %}
            {% if not online_afspraken_enabled %}
                <span class="badge {{ 0|badge_style }}">{% trans "Onlineafspraken is deactivated" %}</span>
            {% else %}
                <strong class="d-block">{% trans "Api key" %}</strong>
                <div>{% config "ONLINEAFSPRAKEN_KEY" %}</div>
                <strong class="d-block">{% trans "Api secret" %}</strong>
                <div>*****************</div>
                {% config "ONLINEAFSPRAKEN_URL" as overriden_api_url %}
                {% if overridden_api_url %}
                    <strong class="d-block">{% trans "Api URL" %}</strong>
                    <div>{{ overridden_api_url }}</div>
                {% endif %}
                {% load_appointment_type_config as appointment_type_config %}
                {% if appointment_type_config %}
                    <strong class="d-block">{% trans "Appointment type config" %}</strong>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>{% trans "Name" %}</th>
                            <th>{% trans "Videocall" %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for appointment_type in appointment_type_config %}
                            <tr>
                                <td>{{ appointment_type.name }}</td>
                                <td>{{ appointment_type.hasVideocall|checkbox_if_true }}</td>
                            </tr>
                        {% endfor %}
                        <tr>

                        </tr>
                        </tbody>
                    </table>
                {% endif %}
            {% endif %}
        </div>
        <div class="col-12 col-xl-6">
            <h5>{% trans "Videocall settings" %}</h5>
            {% config "VIDEOCALL_ENABLED" as videocall_enabled %}
            {% if not videocall_enabled %}
                <span class="badge {{ 0|badge_style }}">{% trans "Videocall is deactivated" %}</span>
            {% else %}
                {% config "VIDEOCALL_API_URL" as overriden_videoapi_url %}
                {% if overriden_videoapi_url %}
                    <strong class="d-block">{% trans "Api URL" %}</strong>
                    <div>{{ overriden_videoapi_url }}</div>
                {% endif %}
                {% config "VIDEOCALL_PROFILEPAGE" as videocall_profilepage %}
                <div><span class="badge {{ videocall_profilepage|badge_style }}">
                    {% trans "Enable videocalls at profile page" %}
                </span>
                </div>
                {% config "VIDEOCALL_THROTTLE" as videocall_throttle %}
                <div><span class="badge {{ videocall_throttle|badge_style }}">
                    {% blocktrans %}Maximum of {{ videocall_throttle }} room reservations per hour{% endblocktrans %}
                </span></div>
            {% endif %}
        </div>
    </div>
{% endblock %}
