{% extends "sites/profile/_form.html" %}

{% load i18n %}
{% load static %}

{% block form_content %}

    <div class="row">
        <div class="col-12 col-xl-6">
            <div class="card">
                <h3 class="h6 card-header">{% trans "Onlineafspraken settings" %}</h3>
                <div class="card-body">
                    <div class="mt-0">
                        {% include "form/field/render_field.html" with field=form.onlineafspraken_enabled %}
                    </div>
                    <div class="mt-2">
                        {% include "form/field/render_field.html" with field=form.onlineafspraken_key %}
                    </div>
                    <div class="mt-2">
                        {% include "form/field/render_field.html" with field=form.onlineafspraken_secret %}
                    </div>
                    <div class="mt-2">
                        {% include "form/field/render_field.html" with field=form.onlineafspraken_url %}
                    </div>
                    <div class="mt-2">
                        {% include "form/field/render_field.html" with field=form.videocall_appointment_type %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-6">
            <div class="card">
                <h3 class="h6 card-header">{% trans "Videocall settings" %}</h3>
                <div class="card-body">
                    <div class="mt-0">
                        {% include "form/field/render_field.html" with field=form.videocall_enabled %}
                    </div>
                    <div class="mt-2">
                        {% include "form/field/render_field.html" with field=form.videocall_api_url %}
                    </div>
                    <div class="mt-2">
                        {% include "form/field/render_field.html" with field=form.videocall_profilepage %}
                    </div>
                    <div class="mt-2">
                        {% include "form/field/render_field.html" with field=form.videocall_throttle %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
