{% extends "sites/profile/_summary.html" %}

{% load i18n %}
{% load static %}
{% load summary_elements %}


{% block summary %}
    <ul class="list-unstyled text-start">
        {% optional_features as optional_features_status %}
        {% for is_active, label in optional_features_status %}
            <li class="d-flex">
                {% include "elements/boolean_check.html" with condition=is_active %}
                <div> {{ label }} </div>
            </li>
        {% endfor %}
    </ul>
    <h6 class="mt-3">{% trans "Add attendee to event" %}</h6>
    {% event_add_email_attendee as event_add_email_attendee_status %}
    {% for is_active, label in event_add_email_attendee_status %}
        <span class="badge {{ is_active }}">
            {{ label }}
        </span>
    {% endfor %}
    <h6 class="mt-3">{% trans "Search schemas" %}</h6>
    {% config "SEARCH_RELATED_SCHEMAS" as search_related_schemas %}
    {% if search_related_schemas %}
        {% for schema_name in search_related_schemas %}
            <span class="badge bg-success text-light">{{ schema_name }}</span>
        {% endfor %}
    {% else %}
        <span class="badge bg-light text-dark">{% trans "No schema's defined for this site" %}</span>
    {% endif %}
{% endblock %}
