{% extends "sites/profile/_form.html" %}

{% load i18n %}
{% load static %}

{% block form_content %}

    <div class="row">
        <div class="col-12 col-xl-6">
            <div class="card">
                <h3 class="h6 card-header">{% trans "Optional features" %}</h3>
                <div class="card-body">
                    <div class="mt-0">
                        {% include "form/field/render_field.html" with field=form.optional_features %}
                    </div>
                    <div class="mt-2">
                        {% include "form/field/render_field.html" with field=form.event_add_email_attendee %}
                    </div>
                    <div class="mt-4">
                        {% include "form/field/render_field.html" with field=form.search_schemas %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
