{% extends "sites/profile/_summary.html" %}
{% load i18n %}
{% load static %}
{% load summary_elements %}

{% block summary %}
    {% load_profile_sets as profile_sets %}
    {% if not profile_sets %}
        <span class="badge {{ 0|badge_style }}">{% trans "No profile sets have been defined yet" %}</span>
    {% else %}
        <table class="table">
            <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Field" %}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for profile_set in profile_sets %}
                <tr>
                    <td>{{ profile_set.name }}</td>
                    <td>{{ profile_set.field }}</td>
                    <td class="text-end">
                        <a href="{{ profile_set.edit_url }}">{% trans "update" %}</a> / <a
                            href="{{ profile_set.delete_url }}">{% trans "delete" %}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
