{% extends "sites/profile/_form.html" %}

{% load i18n %}
{% load static %}

{% block form_content %}

    <div class="row">
        <div class="col-12 col-xl-6">
            <div class="card">
                <h3 class="h6 card-header">{{ form_title }}</h3>
                <div class="card-body">
                    {% if action == 'delete' %}
                        <p>{% blocktrans with name=profile_set.name %}Are you sure that you want to remove
                            {{ name }}?{% endblocktrans %}</p>
                    {% else %}
                        {% include "form/field/render_field.html" with field=form.name %}
                        {% include "form/field/render_field.html" with field=form.field %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block save_button %}
    <button class="btn btn-{{ form_submit_style }}" type="submit">{{ form_submit_label }}</button>
{% endblock %}
