{% extends "elements/card.html" %}

{% load i18n %}
{% load control_utils %}

{% block card_title %}{% trans "Latest recorded audit logs" %}{% endblock %}

{% block card_body %}
    <table class="table">
        <thead>
        <tr>
            <th>{% trans "When" %}</th>
            <th>{% trans "Who" %}</th>
            <th>{% trans "Changed" %}</th>
            <th>{% trans "What" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for log_line in log_lines %}
            <tr>
                <td>{{ log_line.when }}</td>
                <td>{{ log_line.who|log_actor }}</td>
                <td>{{ log_line.changed|log_action }}</td>
                <td>{{ log_line.what }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{% url "site_log_auditlog" site.id %}"
       title="{% trans "View audit logs" %}"
       class="btn btn-primary btn-sm">{% trans "View logs" %}</a>
{% endblock %}
