{% extends "elements/card.html" %}
{% load i18n %}

{% block card_title %}{% trans "Control task summary" %}{% endblock %}

{% block card_body %}

    <table class="table" width="100%">
        <thead>
        <tr>
            <th scope="col" width=175>Date</th>
            <th scope="col">User</th>
            <th scope="col">Name</th>
            <th scope="col">State</th>
            <th scope="col">Response</th>
        </tr>
        </thead>
        <tbody>
        {% for task in items %}
            <tr>
                <td>{{ task.created_at|date:'Y-m-d H:i' }}</td>
                <td>{{ task.author }}</td>
                <td>{{ task.name }}</td>
                <td>{{ task.state }}</td>
                <td>{{ task.response }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{% url "tasks" %}"
       title="{% trans "View control task logs" %}"
       class="btn btn-primary btn-sm">{% trans "View logs" %}</a>

{% endblock %}
