{% extends "elements/card.html" %}

{% load i18n %}

{% block card_title %}{% trans "Deploy task summary" %}{% endblock %}

{% block card_body %}
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>{% trans "Created" %}</th>
            <th>{% trans "Started" %}</th>
            <th>{% trans "Completed" %}</th>
            <th>{% trans "Result" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for task_log in items %}
            <tr>
                <th colspan="5">{{ task_log.task }}</th>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>{{ task_log.created }}</td>
                <td>{{ task_log.started|default:"" }}</td>
                <td>{{ task_log.completed|default:"" }}</td>
                <td>{{ task_log.status|default:"" }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{% url "site_post_deploy_report" site.id %}"
       title="{% trans "View deploy task logs" %}"
       class="btn btn-primary btn-sm">{% trans "View logs" %}</a>

{% endblock %}
