{% extends "elements/card.html" %}
{% load i18n %}

{% block card_title %}{% trans "FloodLog" %}{% endblock %}

{% block card_body %}

    <table class="table" width="100%">
        <thead>
        <tr>
            <th scope="col" width=175>User</th>
            <th scope="col">IP</th>
            <th scope="col">Expires</th>
        </tr>
        </thead>
        <tbody>
        {% for log in log_lines %}
            <tr>
                <td>{{ log.user }}</td>
                <td>{{ log.ip }}</td>
                <td>{{ log.expires }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{% url "floodlog" site.id %}"
       title="{% trans "View Floodlog" %}"
       class="btn btn-primary btn-sm">{% trans "View logs" %}</a>

{% endblock %}
