{% extends "elements/card.html" %}
{% load i18n %}

{% block card_title %}{% trans "Mail log summary" %}{% endblock %}

{% block card_body %}

    <table class="table" width="100%">
        <thead>
        <tr>
            <th scope="col" width=175>Date</th>
            <th scope="col">Recipient</th>
            <th scope="col">Subject</th>
        </tr>
        </thead>
        <tbody>
        {% for log in log_lines %}
            <tr>
                <td>{{ log.created_at|date:'Y-m-d H:i' }}</td>
                <td>{{ log.recipient }}</td>
                <td>{{ log.subject }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{% url "mail_log" site.id %}"
       title="{% trans "View mail logs" %}"
       class="btn btn-primary btn-sm">{% trans "View logs" %}</a>

{% endblock %}
