{% extends "elements/card.html" %}
{% load i18n %}

{% block card_title %}{% trans "File scan summary" %}{% endblock %}

{% block card_body %}

    <table class="table">
        <tr>
            <th></th>
            <th>{% trans "Files" %}</th>
            <th>{% trans "Attachments" %}</th>
        </tr>
        <tr>
            <th>{% trans "First scan" %}</th>
            <td>{{ first_scanned_file.last_scan }}</td>
            <td>{{ first_scanned_attachment.last_scan }}</td>
        </tr>
        <tr>
            <th>{% trans "Last scan" %}</th>
            <td>{{ last_scanned_file.last_scan }}</td>
            <td>{{ last_scanned_attachment.last_scan }}</td>
        </tr>
        <tr>
            <th>{% trans "Total" %}</th>
            <td>{{ total_files }}</td>
            <td>{{ total_attachments }}</td>
        </tr>
    </table>

    {% if view_mode == 'with_link' %}
    <a href="{% url "site_log_scanlog" site.id %}"
       title="{% trans "View scan logs" %}"
       class="btn btn-primary btn-sm">{% trans "View logs" %}</a>
    {% endif %}

{% endblock %}
