{% extends "elements/card.html" %}
{% load i18n %}

{% block card_title %}{% trans "Search index logs" %}{% endblock %}

{% block card_body %}

    <table class="table">
        <thead>
        <tr>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Message" %}</th>
            <th>{% trans "Object type" %}</th>
            <th>{% trans "Object id" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for log_line in log_lines %}
            <tr>
                <td>{{ log_line.when }}</td>
                <td>{{ log_line.message }}</td>
                <td>{{ log_line.object_type }}</td>
                <td>{{ log_line.object_id }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if view_mode == 'with_link' %}
        <a href="{% url "search_index_log" site.id %}"
           title="{% trans "View search index logs" %}"
           class="btn btn-primary btn-sm">{% trans "View logs" %}</a>
    {% endif %}

{% endblock %}
