{% load custom_tags %}

{% if config.PIWIK_URL and config.PIWIK_ID %}
    {% piwik_container_url config.PIWIK_URL as has_piwik_container_url %}

    {% if has_piwik_container_url %}
        <script type="text/javascript" nonce="{{ CSP_NONCE }}">
            document.querySelector('body').dataset['matomo'] = '{{ config.PIWIK_ID }}';
            var _mtm = window._mtm = window._mtm || [];
            _mtm.push({'mtm.startTime': (new Date().getTime()), 'event': 'mtm.Start'});
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.async=true; g.src='{{ has_piwik_container_url }}'; s.parentNode.insertBefore(g,s);
        </script>
    {% else %}
        <!-- Piwik -->
        <script type="text/javascript" nonce="{{ CSP_NONCE }}">
        var _paq = _paq || [];
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="{{ config.PIWIK_URL }}";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', '{{ config.PIWIK_ID }}']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
        </script>
        <noscript><p><img src="{{ config.PIWIK_URL }}piwik.php?idsite={{ config.PIWIK_ID }}" style="border:0;" alt="" /></p></noscript>
        <!-- End Piwik -->
    {% endif %}
{% endif %}
