{% extends "base.html" %}
{% load control_utils %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{% block title %}{% endblock %}</h1>
    </div>
    {% site_details_menu site_id %}
    <div class="row">
        <div class="col my-3">
            <a href="{{ site_url }}">{{ site_url }}</a>
        </div>
    </div>
    <div class="row mb-4 pb-4">
        <div class="col">
            {% block site_details %}

            {% endblock %}
        </div>
    </div>
{% endblock %}
