{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block content %}

    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Add site</h1>
    </div>

    <form method="POST" enctype="multipart/form-data" novalidate>
        {% csrf_token %}

        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
        {% endfor %}

        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}

        <div class="row">
            <div class="form-group col-md-5">
                <div class="mt-0">{% include "form/field/render_field.html" with field=form.schema_name %}</div>
                <div class="mt-1">{% include "form/field/render_field.html" with field=form.domain %}</div>
                <div class="mt-1">{% include "form/field/render_field.html" with field=form.backup %}</div>
                <div class="mt-1">{% include "form/field/render_field.html" with field=form.site_profile %}</div>
            </div>
            <div class="form-group col-md-7">
                <div class="row mt-1 mt-md-0">
                    <div class="col">{% include "form/field/render_field.html" with field=form.site_owner %}</div>
                    <div class="col">{% include "form/field/render_field.html" with field=form.site_owner_email %}</div>
                </div>
                <div
                    class="mt-1">{% include "form/field/render_field.html" with field=form.initial_site_admin_email %}</div>
                <div class="mt-1">{% include "form/field/render_field.html" with field=form.notes %}</div>
            </div>
        </div>

        <div class="form-group mt-3">
            <button class="btn btn-primary" type="submit">{% trans "Add website" %}</button>
        </div>
    </form>

    {% if backup_items %}
        <div class="row mt-3">
            <div class="col">
                <h3>{% trans "Available backups" %}</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th>{% trans "Name" %}</th>
                        <th>{% trans "Local backup" %}</th>
                        {% if has_object_storage %}
                            <th>{% trans "Shared backup" %}</th>
                        {% endif %}
                    </tr>
                    </thead>
                <tbody>
                {% for backup_item, is_local, is_shared in backup_items %}
                    <tr>
                        <td>{{ backup_item }}</td>
                        <td>{% if is_local %}✅{% endif %}</td>
                        {% if has_object_storage %}
                            <td>{% if is_shared %}✅{% endif %}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{% static "form_commons.js" %}"></script>
{% endblock %}
