{% extends "sites/_tabs.html" %}

{% load i18n %}

{% block title %}{% blocktrans %}Site settings for {{ site_name }}{% endblocktrans %}{% endblock %}

{% block site_details %}

    <div class="row">
        <div class="col">
            {% for super_section in sections.content %}
                <div class="card mb-3">
                    <h5 class="card-header">{{ super_section.title }}</h5>
                    <div class="card-body">
                        {% for section in super_section.content %}
                            {% include section.template %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
