{% extends "sites/_tabs.html" %}

{% load i18n %}
{% load control_utils %}

{% block title %}{% blocktrans %}Audit logs for {{ site_name }}{% endblocktrans %}{% endblock %}

{% block site_details %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <p>&nbsp;</p>
    <form method="get" class="d-inline-flex">
        <div class="me-2">{% include "form/field/render_field.html" with field=form.object_pk no_label=1 %}</div>
        <div class="me-2">{% include "form/field/render_field.html" with field=form.content_type no_label=1 %}</div>
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>
</div>


<table class="table" width="100%">
    <thead>
        <tr>
            <th scope="col" width=175>{% trans "Date" %}</th>
            <th scope="col">{% trans "Action" %}</th>
            <th scope="col">{% trans "User" %}</th>
            <th scope="col">{% trans "Object type" %}</th>
            <th scope="col">{% trans "Object" %}</th>
            <th scope="col">{% trans "Changes" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for log in logs %}
        <tr>
            <td>{{ log.timestamp|date:'Y-m-d H:i' }}</td>
            <td>{{ log.action|log_action }}</td>
            <td>{{ log.actor|log_actor }}</td>
            <td>{{ log.content_type }}</td>
            <td>{{ log.object_pk }}</td>
            <td>
                {% for key, value_before, value_after in log.changes %}
                    <strong>{{ key }}:</strong> {{ value_before }} &#8594; {{ value_after }}
                    <br />
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="d-flex justify-content-between">
    <div>
        {% if previous_page %}
        <a href="?{{ previous_page }}" class="btn btn-primary">Previous</a>
        {% endif %}
    </div>
    <div>
        {% if next_page %}
        <a href="?{{ next_page }}" class="btn btn-primary">Next</a>
        {% endif %}
    </div>
</div>
{% endblock %}
