{% extends "sites/_tabs.html" %}

{% load widget_tweaks %}
{% load i18n %}

{% block title %}{% blocktrans %}Backups for {{ site_name }}{% endblocktrans %}{% endblock %}

{% block site_details %}

    <div class="row">
        <div class="col-12 col-xl-3">
            <div class="card">
                <h5 class="card-header">{% trans "Create backup" %}</h5>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}

                        {% for hidden_field in form.hidden_fields %}
                            {{ hidden_field }}
                        {% endfor %}

                        {% if form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                {% for error in form.non_field_errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="include_files" id="include_files"
                                   {% if form.include_files.value %}checked{% endif %}>
                            <label class="form-check-label" for="include_files">{{ form.include_files.label }}</label>
                        </div>
                        {% if has_object_storage %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="share_backup" id="share_backup"
                                       {% if form.share_backup.value %}checked{% endif %}>
                                <label class="form-check-label" for="share_backup">{{ form.share_backup.label }}</label>
                            </div>
                        {% endif %}
                        {% if snapshots_enabled %}
                            <div class="form-group">
                                {% include "form/field/render_field.html" with field=form.from_snapshot %}
                            </div>
                        {% endif %}

                        {% if form.errors %}
                            <div class="alert alert-danger" role="alert">
                                {% for field in form %}
                                    {% if field.errors %}
                                        {% for error in field.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div class="form-group">
                            <br>
                            <button class="btn btn-primary" type="submit">{% trans "Continue" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mt-3 mt-xl-0">
                <h5 class="card-header">{% trans "Backups" %}</h5>
                <div class="card-body">
                    {% include "sites_backup/backup_overview.html" with items=backups %}
                </div>
            </div>
            <div class="card mt-3">
                <h5 class="card-header">{% trans "Access history" %}</h5>
                <div class="card-body">
                    {% include "sites_backup/access_overview.html" with items=access_logs %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
