{% extends "sites/_tabs.html" %}

{% load i18n %}
{% load control_utils %}
{% load summary_elements %}

{% block title %}{% blocktrans %}Deploy task logs for {{ site_name }}{% endblocktrans %}{% endblock %}

{% block site_details %}
    <form method="post">
        {% csrf_token %}
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>{% trans "Task" %}</th>
                <th>{% trans "Started" %}</th>
                <th>{% trans "Completed" %}</th>
                <th>{% trans "Result" %}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for task_log in items %}
                <tr>
                    <td>{{ task_log.task_exists|bool2text }}</td>
                    <td>{{ task_log.task }}</td>
                    <td>{{ task_log.started|default:"" }}</td>
                    <td>{{ task_log.completed|default:"" }}</td>
                    <td>{{ task_log.status|default:"" }}</td>
                    <td>
                        {% if task_log.task_exists %}
                            <button name="retry" value="{{ task_log.task }}"
                                    class="btn btn-primary btn-sm">{% trans "Retry" %}</button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
{% endblock %}
