{% extends "sites/_tabs.html" %}

{% load i18n %}
{% load core_str %}
{% load control_utils %}

{% block title %}{% blocktrans %}Website details for {{ site_name }}{% endblocktrans %}{% endblock %}

{% block site_details %}

    {% define "row border-bottom py-2 mx-0" as table_row_classes %}
    {% define "col-5 col-xl-3" as table_head_classes %}

    <div class="row">
        <div class="col">
            <div class="card">
                <h5 class="card-header">{% trans "Support information" %}</h5>
                <div class="card-body">
                    {% if site.administrative_details.site_owner %}
                        <div class="{{ table_row_classes }}">
                            <div class="{{ table_head_classes }}"><strong>{% trans "Contact person" %}</strong></div>
                            <div class="col">
                                {{ site.administrative_details.site_owner }}
                                <a href="mailto:{{ site.administrative_details.site_owner_email }}">
                                    {{ site.administrative_details.site_owner_email }}
                                </a>
                            </div>
                        </div>
                    {% endif %}
                    <div class="{{ table_row_classes }}">
                        <div class="{{ table_head_classes }}"><strong>{% trans "Website plan" %}</strong></div>
                        <div class="col">{{ site_plan }}</div>
                    </div>
                    <div class="{{ table_row_classes }}">
                        <div class="{{ table_head_classes }}"><strong>{% trans "Website category" %}</strong></div>
                        <div class="col">{{ site_category }}</div>
                    </div>
                    <div class="{{ table_row_classes }}">
                        <div class="{{ table_head_classes }}"><strong>{% trans "Support contract" %}</strong></div>
                        <div class="col">
                            {% if support_contract_enabled %}
                                {% blocktrans %}{{ support_hours_remaining }} hours remaining{% endblocktrans %}
                            {% else %}
                                -
                            {% endif %}
                        </div>
                    </div>
                    <div class="{{ table_row_classes }}">
                        <div class="{{ table_head_classes }}"><strong>{% trans "Agreements accepted" %}</strong></div>
                        <div class="col">
                            {{ site.agreements_accepted|bool2text }}
                            <a href="{{ site_url }}/login?next=/admin/tools/agreements">
                                {% trans "Show in admin panel" %}
                            </a>
                        </div>
                    </div>
                    {% if site.administrative_details.notes %}
                        <div class="{{ table_row_classes }}">
                            <div class="{{ table_head_classes }}"><strong>{% trans "Notes" %}</strong></div>
                            <div class="col">
                                {{ site.administrative_details.notes|linebreaksbr }}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="card mt-3">
                <h5 class="card-header">{% trans "Website details" %}</h5>
                <div class="card-body">
                    <div class="{{ table_row_classes }}">
                        <div class="{{ table_head_classes }}"><strong>{% trans "Domain name" %}</strong></div>
                        <div class="col">
                            <a href="{{ site_url }}">{{ site.primary_domain }}</a>
                            {% define site.secondary_domains as secondary_domains %}
                            {% if secondary_domains|length == 1 %}
                                ({{ secondary_domains.0 }})
                            {% elif secondary_domains|length > 1 %}
                                ({{ secondary_domains|join:"; " }})
                            {% endif %}
                        </div>
                    </div>
                    <div class="{{ table_row_classes }}">
                        <div class="{{ table_head_classes }}"><strong>{% trans "Database schema" %}</strong></div>
                        <div class="col">{{ site.schema_name }}</div>
                    </div>
                    <div class="{{ table_row_classes }}">
                        <div class="{{ table_head_classes }}"><strong>{% trans "Is active" %}</strong></div>
                        <div class="col">{{ site.is_active|bool2text }}</div>
                    </div>
                    <div class="{{ table_row_classes }}">
                        <div class="{{ table_head_classes }}"><strong>{% trans "Disc space" %}</strong></div>
                        <div class="col">{{ site.stat_disk_size|filesizeformat }}</div>
                    </div>
                    <div class="{{ table_row_classes }}">
                        <div class="{{ table_head_classes }}"><strong>{% trans "Database size" %}</strong></div>
                        <div class="col">{{ site.stat_db_size|filesizeformat }}</div>
                    </div>
                </div>
            </div>

            <div class="card mt-3">
                <h5 class="card-header">{% trans "Reports" %}</h5>
                <div class="card-body">
                    <ul>
                        <li>
                            <a href="{% url 'site_report' site_id "site_admins" %}">{% trans "Download site administrators" %}</a>
                        </li>
                        <li>
                            <a href="{% url 'site_report' site_id "group_admins" %}">{% trans "Download group owners/administrators" %}</a>
                        </li>
                        <li>
                            <a href="{% url 'site_orphaned_files' site_id %}">{% trans "View orphaned files and attachments" %}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="card mt-3">
                <h5 class="card-header">{% trans "User stats" %}</h5>
                <div class="card-body">
                    <div class="{{ table_row_classes }}">
                        <div class="{{ table_head_classes }}"><strong>{% trans "Active Users" %}</strong></div>
                        <div class="col">{{ nr_active_users }}</div>
                    </div>
                    <div class="{{ table_row_classes }}">
                        <div class="{{ table_head_classes }}"><strong>{% trans "Blocked Users" %}</strong></div>
                        <div class="col">{{ nr_blocked_users }}</div>
                    </div>
                    <div class="{{ table_row_classes }}">
                        <div class="{{ table_head_classes }}"><strong>{% trans "Users push device configured" %}</strong></div>
                        <div class="col">{{ nr_push_device_configured_users }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6">
            <div class="card">
                <h5 class="card-header">{% trans "Database usage" %}</h5>
                <div class="card-body">
                    <div>
                        <canvas id="myChart1" height="60vh"></canvas>
                    </div>

                    <script>
                        function formatBytes(bytes, decimals = 2) {
                            if (bytes === 0) return '0 Bytes';

                            const k = 1024;
                            const dm = decimals < 0 ? 0 : decimals;
                            const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];

                            const i = Math.floor(Math.log(bytes) / Math.log(k));

                            return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
                        }

                        const labels1 =
                        {{ db_stat_days|safe }}
                        const data1 = {
                            labels: labels1,
                            datasets: [{
                                label: 'DB usage',
                                backgroundColor: 'rgb(255, 99, 132)',
                                borderColor: 'rgb(255, 99, 132)',
                                data: {{ db_stat_data|safe }},
                            }]
                        };
                        const config1 = {
                            type: 'line',
                            data: data1,
                            options: {
                                responsive: true,
                                scales: {
                                    y: {
                                        ticks: {
                                            callback: function (value, index, values) {
                                                return formatBytes(value);
                                            }
                                        }
                                    }
                                }
                            }
                        };

                        var myChart1 = new Chart(
                            document.getElementById('myChart1'),
                            config1
                        );
                    </script>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <h5 class="card-header">{% trans "Disk usage" %}</h5>
                <div class="card-body">
                    <div>
                        <canvas id="myChart2" height="60vh"></canvas>
                    </div>

                    <script>
                        const labels2 =
                        {{ disk_stat_days|safe }}
                        const data2 = {
                            labels: labels2,
                            datasets: [{
                                label: 'Disk usage',
                                backgroundColor: 'rgb(255, 99, 132)',
                                borderColor: 'rgb(255, 99, 132)',
                                data: {{ disk_stat_data|safe }},
                            }]
                        };
                        const config2 = {
                            type: 'line',
                            data: data2,
                            options: {
                                responsive: true,
                                scales: {
                                    y: {
                                        ticks: {
                                            callback: function (value, index, values) {
                                                return formatBytes(value);
                                            }
                                        }
                                    }
                                }
                            }
                        };

                        var myChart2 = new Chart(
                            document.getElementById('myChart2'),
                            config2
                        );
                    </script>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
