{% extends "sites/_tabs.html" %}

{% load i18n %}

{% block title %}{% blocktrans %}Activate website {{ site_name }}{% endblocktrans %}{% endblock %}

{% block site_details %}

    <div class="row">
        <div class="col">
            <div class="card">
                <h5 class="card-header">{% trans "Activate website" %}</h5>
                <div class="card-body">
                    <p>{% blocktrans %}Are you sure that you want to enable the website at <strong>{{ schema_name }}</strong>?{% endblocktrans %}</p>

                    <form method="POST" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}
                        <div class="form-group">
                            <br>
                            <button class="btn btn-success" type="submit">{% trans "Continue" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
