{% extends "sites/_tabs.html" %}

{% load i18n %}
{% load summary_elements %}

{% block title %}{% blocktrans %} FloodLog for {{ site_name }}{% endblocktrans %}{% endblock %}

{% block site_details %}

    <style>
        .flex-end {
            align-items: flex-end;
        }
    </style>

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <form method="get" class="d-inline-flex">
            <div class="me-2">{% include "form/field/render_field.html" with field=form.email %}</div>
            <div class="me-2">{% include "form/field/render_field.html" with field=form.ip %}</div>
            <div class="d-flex flex-end">
                <button type="submit" class="btn btn-primary">Filter</button>
            </div>
        </form>
    </div>

    <form method="post">
        {% csrf_token %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">User</th>
                <th scope="col">IP address</th>
                <th scope="col">Expires</th>
            </tr>
            </thead>
            <tbody>
            {% for log in items %}
                <tr>
                    <td>{{ log.user }}</td>
                    <td>{{ log.ip }}</td>
                    <td>{{ log.expires }}</td>
                    <td align="right">
                        <button name="delete" value="{{ log.user }}"
                                class="btn btn-sm btn-danger">{% trans "Verwijderen" %}</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>


    {% include "elements/pagination.html" with pagination_container=pages %}

{% endblock %}
