{% extends "base.html" %}

{% load i18n %}
{% load url_helpers %}

{% block content %}
    <div class="row my-3">
        <div class="col col-md-9">
            <div class="d-flex mb-3">
                <h1 class="h2 mx-3">Sites</h1>
                <div class="mt-1">
                    <a href="{% url "site_add" %}" class="btn btn-primary btn-sm">{% trans "Add" %}</a>
                </div>
            </div>
            {% if sites %}
                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th scope="col">Site</th>
                        <th scope="col">Disk Size</th>
                        <th scope="col">DB Size</th>
                        <th scope="col">Agreement</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for site in sites %}
                        <tr data-schema-name="{{ site.schema_name }}">
                            <td width="20" style="color:red">{% if not site.is_active %}x{% endif %}</td>
                            <td>
                                <a href="{% url "site_details" site.id %}">{{ site.primary_domain }}</a> ({{ site.schema_name }})
                            </td>
                            <td style="text-align:right">{{ site.stat_disk_size|filesizeformat }}</td>
                            <td style="text-align:right">{{ site.stat_db_size|filesizeformat }}</td>
                            <td>{% if site.agreements_accepted %}&#x2713;{% else %}&#x10102;{% endif %}</td>
                            <td>
                                <div class="btn-group">
                                    <a href="{% url "site_details" site.id %}"
                                       class="btn btn-sm btn-primary">{% trans "Details" %}</a>
                                    {% if site.is_active %}
                                        <a href="{% url "site_disable" site.id %}"
                                           class="btn btn-sm btn-warning">{% trans "Deactivate" %}</a>
                                    {% else %}
                                        <a href="{% url "site_enable" site.id %}"
                                           class="btn btn-sm btn-success">{% trans "Activate" %}</a>
                                    {% endif %}
                                    <a href="{% url "site_delete" site.id %}"
                                       class="btn btn-sm btn-danger">{% trans "Remove" %}</a>
                                    <a href="{% url "site_backup" site.id %}"
                                       class="btn btn-secondary btn-sm">{% trans "Backup" %}</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% include "elements/pagination.html" with pagination_container=sites %}
            {% else %}
                <p>No sites found yet.</p>
            {% endif %}

        </div>
        <div class="col col-md-3">
            <div class="card">
                <h6 class="card-header">Filter</h6>
                <div class="card-body">
                    <form method="get" class="">
                        <div class="form-group mb-2">
                            <label class="visually-hidden"
                                   for="inlineFormSelectPref">{{ filter.form.domain.label }}</label>
                            {{ filter.form.domain }}
                        </div>
                        <div class="form-group mb-2">
                            <label class="visually-hidden"
                                   for="inlineFormSelectPref">{{ filter.form.schema_name.label }}</label>
                            {{ filter.form.schema_name }}
                        </div>
                        <div class="form-group mb-2">
                            <label class="visually-hidden"
                                   for="inlineFormSelectPref">{{ filter.form.is_active.label }}</label>
                            {{ filter.form.is_active }}
                        </div>
                        <div class="form-group mb-2">
                            <label class="visually-hidden"
                                   for="inlineFormSelectPref">{{ filter.form.custom_file_storage.label }}</label>
                            {{ filter.form.custom_file_storage }}
                        </div>
                        <div class="form-group mb-2">
                            <button type="submit" class="btn btn-primary">{% trans "Search" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
