{% extends "sites/_tabs.html" %}

{% load i18n %}
{% load summary_elements %}

{% block title %}{% blocktrans %}Log dashboard for {{ site_name }}{% endblocktrans %}{% endblock %}

{% block site_details %}

    <div class="row">
        <div class="col col-md-6">
            {% scan_log_summary "with_link" %}
        </div>
        <div class="col col-md-6">
            {% audit_log_summary %}
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% deploy_task_summary %}
        </div>
        <div class="col">
            {% mail_log_summary %}
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% search_index_log_summary "with_link" %}
        </div>
        <div class="col">
            {% control_task_summary %}
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% floodlog_summary %}
        </div>
    </div>

{% endblock %}
