{% extends "sites/_tabs.html" %}

{% load i18n %}
{% load summary_elements %}

{% block title %}{% blocktrans %}Mail logs for {{ site_name }}{% endblocktrans %}{% endblock %}

{% block site_details %}

    <style>
        .flex-end {
            align-items: flex-end;
        }
    </style>

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <form method="get" class="d-inline-flex">
            <div class="me-2">{% include "form/field/render_field.html" with field=form.email %}</div>
            <div class="me-2">{% include "form/field/render_field.html" with field=form.query %}</div>
            <div class="me-2 d-flex flex-end">
                <div class="pb-2">
                    {% include "form/field/render_checkbox.html" with field=form.with_feedback %}
                </div>
            </div>
            <div class="d-flex flex-end">
                <button type="submit" class="btn btn-primary">Filter</button>
            </div>
        </form>
    </div>

    <table class="table" width="100%">
        <thead>
        <tr>
            <th scope="col" width=175>Date</th>
            <th scope="col">Recipient</th>
            <th scope="col">Subject</th>
            <th scope="col">Mailer</th>
        </tr>
        </thead>
        <tbody>
        {% for log in items %}
            <tr>
                <td {% if log.result %}rowspan="2" class="text-bg-warning"{% endif %}>
                    {{ log.created_at|date:'Y-m-d H:i' }}
                </td>
                <td>{{ log.recipient }}</td>
                <td>{{ log.subject }}</td>
                <td>{{ log.mailer }}</td>
            </tr>
            {% if log.result %}
            <tr>
                <td colspan="3">{{ log.result }}</td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    {% include "elements/pagination.html" with pagination_container=pages %}

{% endblock %}
