{% extends "sites/_tabs.html" %}

{#{% load widget_tweaks %}#}
{% load i18n %}

{% block title %}{% blocktrans %}Migrate storage for {{ site_name }}{% endblocktrans %}{% endblock %}

{% block site_details %}
    <div class="row">
        <div class="col">
            <div class="card">
                <h5 class="card-header">{% trans "Migrate storage" %}</h5>
                <div class="card-body">
                {% blocktrans %}
                    <p>Do you really want to migrate the storage for <strong>{{ schema_name }}</strong>? </p>

                {% endblocktrans %}

                    <form method="POST" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}

                        {% for hidden_field in form.hidden_fields %}
                            {{ hidden_field }}
                        {% endfor %}

                        {% if form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                {% for error in form.non_field_errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% for field in form.visible_fields %}
                            {% include "form/field/render_field.html" %}
                        {% endfor %}

                        <div class="form-group">
                            <br>
                            <button class="btn btn-danger" type="submit">{% trans "Continue" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
