{% extends "sites/_tabs.html" %}

{% load i18n %}
{% load control_utils %}

{% block title %}{% blocktrans %}View orphaned files and attachments for {{ site_name }}
{% endblocktrans %}{% endblock %}

{% block site_details %}
    <div class="row">
        <div class="col">
            <div class="card">
                <h5 class="card-header">{% trans "Orphaned files and attachments" %}</h5>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>{% trans "Filename" %}</th>
                                <th>{% trans "Created at" %}</th>
                                <th>{% trans "Last action" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for file in files %}
                            <tr>
                                <td><a href="{{ file.url|full_site_url:site }}">{{ file.id }}</a></td>
                                <td>{{ file.title }}</td>
                                <td>{{ file.created_at }}</td>
                                <td>{{ file.last_action }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
