{% extends "sites/_tabs.html" %}

{% load i18n %}
{% load summary_elements %}

{% block title %}{% blocktrans %}ClamAV Logs for {{ site_name }}{% endblocktrans %}{% endblock %}

{% block site_details %}

    {% scan_log_summary %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <p>&nbsp;</p>
        <form method="get" class="d-inline-flex">
            <div class="me-2">{% include "form/field/render_field.html" with field=form.filename no_label=1 %}</div>
            <div class="me-2">{% include "form/field/render_field.html" with field=form.blocked no_label=1 %}</div>
            <button type="submit" class="btn btn-primary">Filter</button>
        </form>
    </div>

    <table class="table" width="100%">
        <thead>
        <tr>
            <th scope="col" width=175>Date</th>
            <th scope="col">File</th>
            <th scope="col">Message</th>
            <th scope="col">User</th>
        </tr>
        </thead>
        <tbody>
        {% for log in items %}
            <tr>
                <td>{{ log.date|date:'Y-m-d H:i' }}</td>
                <td>{{ log.title }}</td>
                <td>{{ log.message }}</td>
                <td><a href="{{ log.owner_url }}">{{ log.owner_name }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
