{% extends "sites/_tabs.html" %}

{% load i18n %}
{% load core_str %}

{% block title %}{% blocktrans %}Search index logs for {{ site_name }}{% endblocktrans %}{% endblock %}

{% block site_details %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <p>&nbsp;</p>
        <form method="get" class="d-inline-flex">
            <div class="me-2">{% include "form/field/render_field.html" with field=form.query %}</div>
            <div class="me-2">{% include "form/field/render_field.html" with field=form.object_id %}</div>
            <div class="pt-4"><button type="submit" class="btn btn-primary">Filter</button></div>
        </form>
    </div>

    <table class="table" width="100%">
        <thead>
        <tr>
            <th>{% trans "Metadata" %}</th>
            <th>{% trans "Debug backtrace" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for log in items %}
            <tr>
                <td>
                    {% define log.created_at|date:'Y-m-d H:i' as log_date %}
                    {% define log.message as log_message %}
                    {% define log.object_type as log_object_type %}
                    {% define log.object_id as log_object_id %}
                    {% blocktrans %}Date: {{ log_date }}{% endblocktrans %}<br>
                    {% blocktrans %}Message: {{ log_message }}{% endblocktrans %}<br>
                    {% blocktrans %}Type: {{ log_object_type }}{% endblocktrans %}<br>
                    {% blocktrans %}ID: {{ log_object_id }}{% endblocktrans %}<br>
                </td>
                <td>
                    <pre>{{ log.traceback }}</pre>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include "elements/pagination.html" with pagination_container=pages %}
{% endblock %}
