{% extends "sites/_tabs.html" %}

{% load widget_tweaks %}
{% load i18n %}
{% load summary_elements %}
{% load control_utils %}

{% block title %}{% blocktrans %}Backups for {{ site_name }}{% endblocktrans %}{% endblock %}

{% block site_details %}

    <div class="row mb-4 pb-4">
        <div class="col-12 col-xl-3">
            <div class="card">
                <h5 class="card-header">{% trans "Create snapshot" %}</h5>
                <div class="card-body">
                    {% if snapshots_enabled %}
                    <form method="POST" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}

                        {% for hidden_field in form.hidden_fields %}
                            {{ hidden_field }}
                        {% endfor %}

                        {% if form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                {% for error in form.non_field_errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div class="form-group">
                            <br>
                            <button class="btn btn-primary" type="submit">{% trans "Start" %}</button>
                        </div>
                    </form>
                    {% else %}
                      <p>{% trans "Snapshots not configured" %}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mt-3 mt-xl-0">
                <h5 class="card-header">{% trans "Snapshots" %}</h5>
                <div class="card-body">
                    {% if snapshots %}
                        <table class="table">
                            <thead>
                            <th>{% trans "Started" %}</th>
                            <th>{% trans "Status" %}</th>
                            <th>{% trans "Duration" %}</th>
                            <th>{% trans "Snapshot ID" %}</th>
                            <th>{% trans "Error" %}</th>
                            </thead>
                            <tbody>
                            {% for item in snapshots %}
                                <tr>
                                    <td>{{ item.started_at|date:'Y-m-d H:i' }}</td>
                                    <td>{{ item.status }}</td>
                                    <td>{{ item.duration|format_duration }}</td>
                                    <td>{{ item.snapshot_id }}</td>
                                    <td>{{ item.error_message }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>{% trans "Snapshot history not available." %}</p>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% control_task_summary "control.tasks.snapshot" %}
        </div>
    </div>
{% endblock %}
