{% extends "sites/_tabs.html" %}

{% load i18n %}
{% load static %}

{% block title %}{% blocktrans %}Update {{ site_name }}{% endblocktrans %}{% endblock %}

{% block scripts %}
    <script src="{% static "form_commons.js" %}"></script>
{% endblock %}

{% block site_details %}
    <form method="POST" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        <div class="row">
            <div class="col-12 col-md-10 col-xl-8">
                <div class="card">
                    <h5 class="card-header">{% trans "Website details" %}</h5>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-12 col-md-6 mt-2">{% include "form/field/render_field.html" with field=form.site_owner %}</div>
                                <div class="col-12 col-md-6 mt-2">{% include "form/field/render_field.html" with field=form.site_owner_email %}</div>
                                <div class="col-12 mt-2">{% include "form/field/render_field.html" with field=form.support_site_plan %}</div>
                                <div class="col-12 mt-2">{% include "form/field/render_field.html" with field=form.support_site_category %}</div>
                            </div>
                            <div class="row mt-2 mx-0 py-3 border-top border-bottom">
                                <div class="col-12 col-md-6">{% include "form/field/render_checkbox.html" with field=form.support_contract_enabled %}</div>
                                <div class="col-12 col-md-6">{% include "form/field/render_field.html" with field=form.support_contract_hours_remaining %}</div>
                            </div>
                            <div class="row mt-2">
                                <div class="col">{% include "form/field/render_field.html" with field=form.notes %}</div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">{% include "form/field/render_field.html" with field=form.primary_domain %}</div>
                                <div class="col">{% include "form/field/render_field.html" with field=form.secondary_domains %}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group mt-3">
                        <button class="btn btn-primary" type="submit">{% trans "Save changes" %}</button>
                        <a class="ms-3" href="{% url "site_details" site_id %}">{% trans "Cancel" %}</a>
                    </div>
                </div>
            </div>
    </form>
{% endblock %}
