{% load widget_tweaks %}
{% if form.is_bound %}
    {% if field.errors %}
        {% render_field field class="form-check-input is-invalid" %}
        {% for error in field.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
        {% endfor %}
    {% else %}
        {% render_field field class="form-check-input is-valid" %}
    {% endif %}
{% else %}
    {% render_field field class="form-check-input" %}
{% endif %}
{% if field.label and not no_label %}<label for="id_{{ field.name }}">{{ field.label }}</label>{% endif %}

{% if field.help_text %}
    <small class="form-text d-block text-muted">{{ field.help_text }}</small>
{% endif %}
