{% extends "base_closed.html" %}

{% load i18n %}
{% load custom_tags %}
{% load core_str %}
{% load widget_tweaks %}

{% block content %}

    <h2 class="___text-primary">{{ config.NAME }}</h2>

    {% if is_access_request %}
        {% if onboarding_intro %}
            {% tiptap_to_html onboarding_intro %}
        {% else %}
            <p>{% blocktrans %}
                You need permission to join this site. You will receive an email when your request is approved.
            {% endblocktrans %}</p>
            {% if config.ONBOARDING_ENABLED %}
                <p>{% trans "Please fill in the form below to continue." %}</p>
            {% endif %}
        {% endif %}
    {% else %}
        {% if config.ONBOARDING_INTRO %}
            {% tiptap_to_html config.ONBOARDING_INTRO %}
        {% else %}
            <p>{% trans "Please fill in the form below to continue." %}</p>
        {% endif %}
        {% if request.user.is_authenticated and not is_profile_complete %}
            <p>{% blocktrans %}
                Your profile is missing some fields. We kindly ask you to fill in these details.
            {% endblocktrans %}</p>
        {% endif %}
    {% endif %}

    <fieldset>
        <div class="form">
            <form method="POST" enctype="multipart/form-data" autocomplete="on" novalidate>
                {% csrf_token %}

                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field }}
                {% endfor %}

                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}


                {% for field in form.visible_fields %}
                    <div class="form__item">
                        <label class="form__label">{{ field.label }}{% if field.field.required %}*{% endif %}</label>

                        {% if form.is_bound %}
                            {% if field.errors %}
                                {% render_field field class="form-control is-invalid" %}
                                {% for error in field.errors %}
                                    <div class="invalid-feedback">
                                        <svg width="18px" height="18px" viewBox="0 0 18 18" version="1.1"
                                             xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink"><title>warn</title>
                                            <g id="warn" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <path d="M9,0 C13.9705627,0 18,4.02943725 18,9 C18,13.9705627 13.9705627,18 9,18 C4.02943725,18 0,13.9705627 0,9 C0,4.02943725 4.02943725,0 9,0 Z M9,2 C5.13400675,2 2,5.13400675 2,9 C2,12.8659932 5.13400675,16 9,16 C12.8659932,16 16,12.8659932 16,9 C16,5.13400675 12.8659932,2 9,2 Z M10,12 L10,14 L8,14 L8,12 L10,12 Z M10,4 L10,10 L8,10 L8,4 L10,4 Z"
                                                      id="Combined-Shape" fill="currentColor"
                                                      fill-rule="nonzero"></path>
                                            </g>
                                        </svg>
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% else %}
                                {% render_field field class="form-control is-valid" %}
                            {% endif %}
                        {% else %}
                            {% render_field field class="form-control" %}
                        {% endif %}
                    </div>
                {% endfor %}


                <div class="buttons ___center">
                    <a class="elgg-button button ___line" href="/logout" rel="nofollow">{% trans "Logout" %}</a>
                    {% if read_only %}
                        <a class="elgg-button button" href="/login"
                           rel="nofollow">{% trans "Verify access request" %}</a>
                    {% elif is_access_request %}
                        <input type="submit" value="{% trans "Request access" %}" class="elgg-button button">
                    {% else %}
                        <input type="submit" value="{% trans "Continue" %}" class="elgg-button button">
                    {% endif %}
                </div>
            </form>
        </div>
    </fieldset>


{% endblock %}
