{% extends "base_closed.html" %}

{% load i18n %}
{% load custom_tags %}

{% block content %}
<div class="elgg-module  elgg-module-walledgarden-login">
	<div class="elgg-body">
        <fieldset>

            <h2 class="___text-primary">{% blocktrans %}Requested access{% endblocktrans %}</h2>

            <p>{% blocktrans %}Access is requested. You will receive an e-mail when the request is accepted.{% endblocktrans %}</p>

            <div class="buttons ___center">
                <p></p>
                <a class="elgg-button button" href="/login" rel="nofollow">{% trans "Verify access request" %}</a>
            </div>
        </fieldset>
	</div>
</div>
{% endblock %}
