{% extends "base.html" %}

{% load i18n %}
{% load core_str %}

{% block content %}
    <div class="row my-3">
        <div class="col">
            {% define controller.created_at|date:'Y-m-d H:i' as user_sync_start %}
            <h1 class="h2 mx-3">{% blocktrans %}User sync events from {{ user_sync_start }}{% endblocktrans %}</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url "home" %}">{% trans "Dashboard" %}</a></li>
                    <li class="breadcrumb-item"><a href="{% url "user_sync_index" %}">{% trans "User sync events" %}</a>
                    </li>
                </ol>
            </nav>
            <table class="table" width="100%">
                <thead>
                <tr>
                    <th scope="col">{% trans "Schema" %}</th>
                    <th scope="col">{% trans "Scheduled" %}</th>
                    <th scope="col">{% trans "Errors" %}</th>
                    <th scope="col">{% trans "Completed" %}</th>
                    <th scope="col">{% trans "Last Completed" %}</th>
                    <th scope="col">{% trans "Todo" %}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for schema in schemas %}
                    <tr>
                        <td>{{ schema.schema_name }}</td>
                        <td>{{ schema.scheduled_count }}</td>
                        <td>{{ schema.error_count }}</td>
                        <td>{{ schema.completed_count }}</td>
                        <td>{{ schema.last_completed.completed_at|date:'Y-m-d H:i' }}</td>
                        <td>{{ schema.todo_count }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
