{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <div class="row my-3">
        <div class="col">
            <h1 class="h2 mx-3">{% trans "User sync events" %}</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url "home" %}">{% trans "Dashboard" %}</a></li>
                </ol>
            </nav>
            <table class="table" width="100%">
                <thead>
                <tr>
                    <th scope="col">{% trans "Date" %}</th>
                    <th scope="col">{% trans "Scheduled" %}</th>
                    <th scope="col">{% trans "Errors" %}</th>
                    <th scope="col">{% trans "Completed" %}</th>
                    <th scope="col">{% trans "Last completed" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for controller in controllers %}
                    <tr>
                        <td>
                            <a href="{% url "user_sync_detail" controller.id %}">
                                {{ controller.created_at|date:'Y-m-d H:i' }}
                            </a>
                        </td>

                        <td>{{ controller.all_items.count }}</td>
                        <td>{{ controller.items_with_errors.count }}</td>
                        <td>{{ controller.completed_items.count }}</td>
                        <td>{{ controller.completed_items.last.completed_at|date:"Y-m-d H:i" }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
