{% extends "email/entities/article_base.html" %}

{% load i18n %}
{% load core_str %}

{% block featured_image %}
    {% if entity.featured_image_url %}
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td class="fluid-img" style="font-size:0pt; line-height:0pt; text-align:left">
                    <img src="{{ site_url }}{{ entity.featured_image_url }}?utm_medium=email&utm_campaign=overview" border="0" width="600" alt="{{ entity.title }}" />
                </td>
            </tr>
        </table>
    {% endif %}
{% endblock %}


{% block title %}
    <a href="{{ site_url }}{{ entity.url }}?utm_medium=email&utm_campaign=overview" target="_blank" style="color:{{ primary_color }}; text-decoration:none">
        {{ entity.title }}
    </a>
{% endblock %}

{% block subtitle %}
    {% define entity.published as date_created %}
    {% define entity.owner_name as entity_owner %}
    {% define 1 as SHOW_OWNER_AT_EVENT %}
    {% if SHOW_OWNER_AT_EVENT %}
        {% blocktrans %}Created by {{ entity_owner }} on {{ date_created }}{% endblocktrans %}
    {% else %}
        {% blocktrans %}Created on {{ date_created }}{% endblocktrans %}
    {% endif %}
    {% if entity.group %} in <strong><a href="{{ site_url }}{{ entity.group_url }}?utm_medium=email&utm_campaign=overview">{{ entity.group_name }}</a></strong>{% endif %}
    <br>
    {% define entity.start_date as start_date %}
    {% define entity.start_time as start_time %}
    {% blocktrans %}The event starts {{ start_date }} at {{ start_time }}h{% endblocktrans %}
{% endblock %}

{% block description %}
    {{ entity.excerpt }}
{% endblock %}
