{% extends "email/entities/article_base.html" %}

{% load i18n %}

{% block featured_image %}
    {% if entity.featured_image_url %}
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td class="fluid-img" style="font-size:0pt; line-height:0pt; text-align:left">
                    <img src="{{ site_url }}{{ entity.featured_image_url }}?utm_medium=email&utm_campaign=overview" border="0" width="600" alt="{{ entity.title }}" />
                </td>
            </tr>
        </table>
    {% endif %}
{% endblock %}


{% block title %}
    <a href="{{ site_url }}{{ entity.url }}?utm_medium=email&utm_campaign=overview" target="_blank" style="color:{{ primary_color }}; text-decoration:none">
        {{ entity.title }}
    </a>
{% endblock %}

{% block subtitle %}
    {% blocktrans %}Wiki created{% endblocktrans %}
    {% if SHOW_OWNER_AT_WIKI %}{% blocktrans %}by{% endblocktrans %} {{ entity.owner_name }}{% endif %}
    {% blocktrans %}on{% endblocktrans %} {{ entity.published}}
    {% if entity.group %} in <strong><a href="{{ site_url }}{{ entity.group_url }}?utm_medium=email&utm_campaign=overview">{{ entity.group_name }}</a></strong>{% endif %}
{% endblock %}

{% block description %}
    {{ entity.excerpt }}
{% endblock %}
