{% extends 'control/config/value_base.html' %}

{% load i18n %}

{% block render_value %}
    <table class="table">
        <thead>
        <tr>
            <th>{% trans "Key" %}</th>
            <th>{% trans "Value" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for key, value in section.value %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
