<div class="{{ section.key }} row border-bottom">
    <div class="col-4">
        <strong>{{ section.title }}</strong><br>
        <span class="form-text">
            {% for key in section.setting_keys %}
                {{ key }}
            {% endfor %}
        </span>
    </div>
    <div class="col">
        {% if section.is_empty %}
            -
        {% else %}
            {% block render_value %}
                {{ section.value }}
            {% endblock %}
        {% endif %}
    </div>
</div>
