{% extends 'control/config/value_base.html' %}

{% load i18n %}

{% block render_value %}
    <table class="table">
        <thead>
        <tr>
            <th>{% trans "Tag" %}</th>
            <th>{% trans "Synonyms" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for tag, synonyms in section.value %}
            <tr>
                <td>{{ tag }}</td>
                <td>{{ synonyms }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
