{% extends 'control/config/value_base.html' %}

{% load i18n %}

{% block render_value %}
    <table class="table">
        <thead>
        <tr>
            {% for tag_category in section.value %}
                <th>{{ tag_category.name }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for tag_category in section.value %}
                <td>
                    <ul>
                        {% for tag in tag_category.values %}
                            <li>
                                <span class="badge bg-success">{{ tag.value }}</span>
                                {% if tag.synonyms %}
                                    {% for synonym in tag.synonyms %}
                                        <span class="badge bg-info">{{ synonym }}</span>
                                    {% endfor %}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            {% endfor %}
        </tr>
        </tbody>
    </table>
{% endblock %}
