{% extends 'control/config/value_base.html' %}

{% load i18n %}
{% load config_helpers %}

{% block render_value %}
    <table class="table">
        <thead>
        <tr>
            {% for setting in section.value %}
                <th>{{ setting.contentType|content_type }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for setting in section.value %}
                {% if setting.showTagFilter %}
                    <td class="bg-light">
                        {% trans "All tag categories" %}
                    </td>
                {% elif setting.showTagCategories %}
                    <td class="bg-info">
                        {% for category_name in setting.showTagCategories %}
                            {% blocktrans %}Use {{ category_name }}{% endblocktrans %}
                        {% endfor %}
                    </td>
                {% else %}
                    <td class="bg-danger text-light">
                        {% trans "No tag categories" %}
                    </td>
                {% endif %}
            {% endfor %}
        </tr>
        </tbody>
    </table>
{% endblock %}
