{% extends 'control/config/value_base.html' %}

{% load i18n %}

{% block render_value %}
    <table class="table">
        <thead class="visually-hidden">
        <tr>
            <th>{% trans "Profile field" %}</th>
            <th>{% trans "Field options" %}</th>
            <th>{% trans "Properties" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for field in section.value %}
            <tr>
                <td>
                    <strong>{{ field.name }} ({{ field.field_type }})</strong><br>
                    <span class="form-text">{{ field.id }}</span>
                </td>
                {% if field.field_options %}
                    <td>
                        <ol>
                            {% for option in field.field_options %}
                                <li>{{ option }}</li>
                            {% endfor %}
                        </ol>
                    </td>
                {% endif %}
                <td {% if not field.field_options %}colspan="2"{% endif %}>
                    {% trans "User can edit" as title %}
                    {% include "elements/boolean_badge.html" with condition=field.is_editable_by_user %}
                    {% trans "Show filter on user overview" as title %}
                    {% include "elements/boolean_badge.html" with condition=field.is_filter %}
                    {% trans "Show column on user overview" as title %}
                    {% include "elements/boolean_badge.html" with condition=field.is_in_overview %}
                    {% trans "Include on onboarding form" as title %}
                    {% include "elements/boolean_badge.html" with condition=field.is_in_onboarding %}
                    {% trans "Show on vcard" as title %}
                    {% include "elements/boolean_badge.html" with condition=field.is_on_vcard %}
                    {% trans "Is manditory" as title %}
                    {% include "elements/boolean_badge.html" with condition=field.is_mandatory %}
                    {% trans "Allow use as condition for group membership" as title %}
                    {% include "elements/boolean_badge.html" with condition=field.is_in_auto_group_membership %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
