{% extends 'control/config/value_base.html' %}

{% load i18n %}

{% block render_value %}
    {% for profile_section in section.value %}
        <div>
            <strong>
                {% if not profile_section.name %}
                    {% trans "Uncategorised" %}
                {% else %}
                    {{ profile_section.name }}
                {% endif %}
            </strong>
        </div>
        {% if profile_section.profileFields %}
            <ul>
                {% for field in profile_section.profileFields %}
                    <li>{{ field.name }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}
{% endblock %}
