{% load url_helpers %}

{% if pagination_container.has_other_pages %}
  <ul class="pagination">
    {% if pagination_container.has_previous %}
      <li class="page-item"><a href="?{% url_replace page=pagination_container.previous_page_number %}" class="page-link">&laquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
    {% endif %}
    {% for i in pagination_container.paginator.page_range %}
      {% if pagination_container.number == i %}
        <li class="page-item active"><span class="page-link">{{ i }}</span></li>
      {% else %}
        <li class="page-item"><a href="?{% url_replace page=i %}" class="page-link">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if pagination_container.has_next %}
      <li class="page-item"><a href="?{% url_replace page=pagination_container.next_page_number %}" class="page-link">&raquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
