<nav>
    {% url "site_details" site.id as site_landing_page %}
    <ul class="nav nav-tabs">
    {% for item_url, item_label in menu_items %}
        <li class="nav-item">
            {% if item_url == site_landing_page %}
                <a href="{{ item_url }}" class="nav-link {% if item_url == request.path %} active{% endif %}">{{ item_label }}</a>
            {% else %}
                <a href="{{ item_url }}" class="nav-link {% if item_url in request.path %} active{% endif %}">{{ item_label }}</a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</nav>
