{% extends "base.html" %}
{% load i18n %}


{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Avatar permission status</h1>
    </div>
    <div class="pt-3 pb-2 mb-3">
        <h3>Status overview</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Website</th>
                <th>All</th>
                <th>Private</th>
                <th>Public</th>
                <th>Personal</th>
            </tr>
            </thead>
            <tbody>
            {% for row in client_status_list %}
                <tr>
                    <td>{{ row.site_name }}</td>
                    <td>{{ row.all }}</td>
                    <td>{{ row.private }}</td>
                    <td>{{ row.public }}</td>
                    <td>{{ row.personal }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
