{% extends "base.html" %}
{% load i18n %}


{% block content %}
    <div class="pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{% trans "Elasticsearch status details" %}</h1>
        <a href="{% url "elasticsearch_status" %}">{% trans "Back to overview" %}</a>
    </div>

    <h2 class="h3">{{ site_name }}</h2>
    <p><a href="{{ site_elasticsearch }}">{% trans "Update indexes" %}</a></p>

    <div class="d-flex justify-content-between">
        <div class="previous">
            {% if previous %}
                <a href="{% url "elasticsearch_status" record.client.id previous.id %}">
                    {{ previous.created_at }}
                </a>
            {% endif %}
        </div>
        <div class="current">
            <strong>{{ record.created_at }}</strong>
        </div>
        <div class="next">
            {% if next %}
                <a href="{% url "elasticsearch_status" record.client.id next.id %}">
                    {{ next.created_at }}
                </a>
            {% endif %}
        </div>
    </div>

    <div class="pt-3 pb-2 mb-3">
        <h3>{% trans "Index status" %}</h3>
        {% if record.index_status.result %}
            <table class="table">
                <thead>
                <th>{% trans "Index name" %}</th>
                <th>{% trans "Expected" %}</th>
                <th>{% trans "Actual" %}</th>
                </thead>
                <tbody>
                {% for index_details in record.index_status.result %}
                    <tr>
                        <td>{{ index_details.index }}</td>
                        <td>{{ index_details.expected }}</td>
                        <td>{{ index_details.actual }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% elif record.index_status.message %}
            <table class="table">
                <tr>
                    <th>{% trans "Error" %}</th>
                    <td>{{ record.index_status.message }}</td>
                </tr>
                <tr>
                    <th>{% trans "Type" %}</th>
                    <td>{{ record.index_status.exception }}</td>
                </tr>
                <tr>
                    <th>{% trans "Backtrace" %}</th>
                    <td>
                        <pre>{{ record.index_status.backtrace }}</pre>
                    </td>
                </tr>
            </table>
        {% else %}
            <p>{% trans "Nothing to report" %}</p>
        {% endif %}
    </div>

{% endblock %}
