{% extends "base.html" %}
{% load i18n %}


{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{% trans "Elasticsearch status overview" %}</h1>
    </div>

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        {% if not rows %}
            <p>{% trans "Nothing to report" %}</p>
        {% else %}
            <table class="table">
                <thead>
                <tr>
                    <th>{% trans "Website" %}</th>
                    <th>{% trans "Report date" %}</th>
                    <th>{% trans "Index status" %}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for row in rows %}
                    <tr>
                        <td><a href="{{ row.url }}">{{ row.name }}</a></td>
                        <td>{{ row.created_at }}</td>
                        <td>{{ row.index_status }}</td>
                        <td>{% if row.details_url %}<a href="{{ row.details_url }}">Details</a>{% else %}No
                            data{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>

{% endblock %}
