{% extends "base.html" %}

{% load i18n %}
{% load control_utils %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{% trans "Post deploy report" %}</h1>
    </div>

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <div class="row">
            <div class="col">
                {% if not task_summary %}
                    <p>{% trans "Nothing to report" %}</p>
                {% else %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th>{% trans "Task" %}</th>
                            <th>{% trans "Site" %}</th>
                            <th>{% trans "Started" %}</th>
                            <th>{% trans "Completed" %}</th>
                            <th>{% trans "Status" %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for task_name, task_report in task_summary %}
                            <tr>
                                <td colspan="5">{{ task_name }}</td>
                            </tr>
                            {% for site_records in task_report.busy %}
                                <tr>
                                    <td></td>
                                    <td>
                                        {% link_if_is_site site_records.site "site_post_deploy_report" site_records.site.id %}
                                    </td>
                                    <td>{{ site_records.record.started }}</td>
                                    <td>{{ site_records.record.completed }}</td>
                                    <td>{{ site_records.record.status }}</td>
                                </tr>
                            {% endfor %}
                            {% for site_records in task_report.failed %}
                                <tr>
                                    <td></td>
                                    <td>
                                        {% link_if_is_site site_records.site "site_post_deploy_report" site_records.site.id %}
                                    </td>
                                    <td>{{ site_records.record.started }}</td>
                                    <td>{{ site_records.record.completed }}</td>
                                    <td>{{ site_records.record.status }}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
