{% extends "base.html" %}

{% load widget_tweaks %}
{% load i18n %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Search sites for email</h1>
    </div>

    <div class="row">
        <div class="col-12 col-sm-4 col-md-3">
            <form method="GET">
                <p class="form-group">
                    <input type="email" name="email" id="email" value="{{ request.GET.email }}" class="form-control" placeholder="mail@example.com" required>
                </p>
                <p class="form-group">
                    <button class="btn btn-primary" type="submit">Search</button>
                </p>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="co-12">
            {% if request.GET.email %}
                {% if data %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Domain</th>
                            <th scope="col">Last login</th>
                            <th scope="col">Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for site in data %}
                            <tr>
                                <td><a href="{{ site.url }}" target="_blank">{{ site.domain }}</a><br>{{ site.schema }}</td>
                                <td>{{ site.last_login }}</td>
                                <td>{{ site.user_name }} | {{ site.user_external_id }}<br>{{ site.user_email }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>Nothing found for {{ request.GET.email }}</p>
                {% endif %}
            {% endif %}
        </div>
    </div>

{% endblock %}
