{% extends "base.html" %}
{% load i18n %}

{% block document_title %}Update security.txt | {{ block.super }}{% endblock %}


{% block content %}
    <div class="pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{% trans "Security.txt content" %}</h1>
    </div>

    <div class="pt-3 pb-2 mb-3">
        <form method="post">
            {% csrf_token %}
            <div class="form-group mb-3">
                <label for="content" class="label mb-1">{% trans "Enter security.txt content below." %}</label>
                <textarea id="content" name="content" class="form-control" rows="10">{{ storage.value }}</textarea>
            </div>
            <div class="form-group mb-3">
                <button name="button_apply" class="btn btn-primary me-1">{% trans "Apply" %}</button>
                <a href="{% url "security_txt" %}" class="btn btn-link">{% trans "Cancel" %}</a>
            </div>
        </form>
    </div>

{% endblock %}
