{% extends "base.html" %}
{% load i18n %}

{% block document_title %}Update stats.pleio.nl container URL | {{ block.super }}{% endblock %}


{% block content %}
    <div class="pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{% trans "stats.pleio.nl container URL" %}</h1>
    </div>

    <div class="pt-3 pb-2 mb-3">
        <form method="post">
            {% csrf_token %}
            <div class="form-group mb-3">
                <label for="content" class="label mb-1">{% trans "Enter the stats.pleio.nl container URL below." %}</label>
                <input id="content" name="content" class="form-control" type="text" value="{{ storage.value }}">
            </div>
            <div class="form-group mb-3">
                <button name="button_apply" class="btn btn-primary me-1" type="submit">{% trans "Apply" %}</button>
                <a href="{% url "stats_container_url" %}" class="btn btn-link">{% trans "Cancel" %}</a>
            </div>
        </form>
    </div>

{% endblock %}
