{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="{{ config.LANGUAGE }}">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta charset="utf-8">
        <title>{{ config.NAME }}</title>

		<link rel="apple-touch-icon" sizes="192x192" href="/favicon-192.png">
		<link rel="icon" type="image/png" sizes="16x16 32x32 192x192" href="/favicon-192.png">

		<link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#da532c">
        {% if config.COLOR_HEADER %}
            <meta name="theme-color" content="{{ config.COLOR_HEADER }}">
        {% else %}
            <meta name="theme-color" content="{{ config.COLOR_PRIMARY }}">
        {% endif %}

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="version" content="1.0.0">
        <meta name="relative-path" content="">

        <link href="{% static 'legacy.css' %}" rel="stylesheet" type="text/css">

        {% if webpack_dev_server %}
        <link href="http://localhost:9001/web.css?v={{ version }}" rel="stylesheet" type="text/css">
        {% else %}
        <link href="{% static 'frontend/web.css' %}" rel="stylesheet" type="text/css">
        {% endif %}

		{% include 'elements/fonts.html' %}

		<style>
			/* Legacy theme color overrides */
			body { font-family: "{{ BODY_FONT }}", sans-serif; background:white; }
            h1, h2, h3 { font-family: "{{ HEADING_FONT }}", sans-serif; }
			.walled-garden_title { color: {{ config.COLOR_PRIMARY }}; }
			.pleio-logo { aspect-ratio: 1 / 1; width: 35px; }
			.button { background-color: {{ config.COLOR_SECONDARY }}; }
			.button.___is-active, .button:hover, .button:active { background-color: {% hex_color_tint config.COLOR_SECONDARY 0.2 %}; }
		</style>
		{% if config.CUSTOM_CSS %}
			<link href="/custom.css?v={{ config.CUSTOM_CSS_TIMESTAMP }}" rel="stylesheet" type="text/css" media="screen">
		{% endif %}
    </head>
	<body class="___{{ config.THEME }}"{% if request.user.is_authenticated %} data-authenticated-user="{{ request.user.email }}"{% endif %}>
		<div class="page-layout">
			<header class="page-layout__header walled-garden_header">
				<div class="walled-garden_header-top">
                    <img class="pleio-logo" src="{% static 'pleio-logo.svg' %}" alt="">
					<a href="https://www.pleio.nl/" target="_blank" class="walled-garden_pleio-link">
						www.pleio.nl
					</a>
				</div>
			</header>
			<main class="page-layout__main walled-garden_main">
				<div class="walled-garden_content" style="flex-grow: 1;">
                    {% if messages %}
                    <div class="messagelist">
                        {% for message in messages %}
                        <div class="message {{ message.tags }}"><strong>{{ message }}</strong></div>
                        {% endfor %}
                    </div>
                    {% endif %}
					{% block content %}{% endblock %}
				</div>
			</main>
			<footer class="walled-garden_footer">
				<div class="content">
					{% block footer %}{% endblock %}
				</div>
				<a href="https://www.pleio.nl/" target="_blank" class="walled-garden_pleio-link">
					www.pleio.nl
				</a>
			</footer>
		</div>

		{% include 'elements/analytics.html' %}
	</body>
</html>
