{% extends "base_closed.html" %}

{% load i18n %}

{% block content %}

	<div class="form">
        {% if user_name %}
            <h3>{% blocktrans %}Email preferences {{ user_name }}:{% endblocktrans %}</h3>
            <form method="POST" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {{ form.as_p }}
                <div class="buttons ___space-between">
                    <input type="submit" value="{% trans "Save changes" %}" class="elgg-button button">
                </div>
            </form>
        {% endif %}
    </div>

    <br>
    <a href="{{ site_url }}" class="walled-garden_pleio-link">{% blocktrans %}Go to {{ site_name }}{% endblocktrans %}</a>
{% endblock %}
