{% load static %}
<!DOCTYPE html>
<html lang="{{ config.LANGUAGE }}">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>{{ config.NAME }}</title>

    <link rel="apple-touch-icon" sizes="192x192" href="/favicon-192.png">
    <link rel="icon" type="image/png" sizes="16x16 32x32 192x192" href="/favicon-192.png">

    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#da532c">
    {% if config.COLOR_HEADER %}
        <meta name="theme-color" content="{{ config.COLOR_HEADER }}">
    {% else %}
        <meta name="theme-color" content="{{ config.COLOR_PRIMARY }}">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="version" content="1.0.0">
    <meta name="relative-path" content="">
    {% for key, value in metadata.items %}<meta name="{{ key }}" content="{{ value|striptags }}">
    {% endfor %}

    {% for key, value in og_metadata.items %}<meta name="{{ key }}" property="{{ key }}" content="{{ value|striptags }}">
    {% endfor %}

    {% if webpack_dev_server %}
    <link href="http://localhost:9001/web.css?v={{ version }}" rel="stylesheet" type="text/css" media="screen">
    {% else %}
    <link href="{% static 'frontend/web.css' %}" rel="stylesheet" type="text/css" media="screen">
    {% endif %}

    {% include 'elements/fonts.html' %}

    {% if config.CUSTOM_CSS %}
        <link href="/custom.css?v={{ config.CUSTOM_CSS_TIMESTAMP }}" rel="stylesheet" type="text/css" media="screen">
    {% endif %}

    {% if config.PUSH_NOTIFICATIONS_ENABLED %}
        <meta name="service-worker-js" content="/service-worker.js">
        <meta name="webpush-vapid-key" content="{{ vapid_public_key }}">
    {% endif %}
</head>

<body class="___{{ config.THEME }}"{% if request.user.is_authenticated %} data-authenticated-user="{{ request.user.email }}"{% endif %}>

    <noscript class="container">
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
                        <div class="http-error-page">
                            <div class="http-error-page__title">Geen Javascript ondersteuning</div>
                            <div class="http-error-page__text">Helaas, je browser ondersteunt geen Javascript. Gebruik een moderne browser en zorg ervoor dat Javascript aanstaat om deze pagina te bekijken.</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </noscript>

    <div id="react-root" class="page-container">
        <div class="loading-pleio">
            <div class="loading-pleio-content">
                <svg width="49px" height="48px" viewBox="0 0 49 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <path d="M45.8110362,2.896185 C49.6153188,6.70046766 49.6459163,12.8301563 45.9232268,16.6854348 L45.8110362,16.7976254 L30.8386851,31.7699765 L27.6259531,28.5572445 L42.5983042,13.5848934 C44.6687315,11.5144661 44.6687315,8.16914515 42.5983042,6.09871786 C40.5482752,4.04868886 37.2437508,4.02829057 35.1733235,6.03752296 L35.1121286,6.09871786 L30.8386851,10.3721614 L27.6259531,7.15942938 L31.8993966,2.88598585 C35.7444759,-0.938695109 41.9659569,-0.938695109 45.8110362,2.896185 M32.4399515,17.8685361 L29.2272195,21.0812681 L14.2650676,6.10891701 C12.1946403,4.03848971 8.84931938,4.03848971 6.77889209,6.10891701 C4.7084648,8.1793443 4.7084648,11.5246652 6.77889209,13.5950925 L11.0523356,17.8685361 L7.83960361,21.0812681 L3.56616008,16.8078245 C-0.268720027,12.9729444 -0.268720027,6.74126426 3.56616008,2.90638415 C7.40104019,-0.92849596 13.6327204,-0.92849596 17.4676005,2.90638415 L32.4399515,17.8685361 Z M45.8110362,31.2396207 C49.6459163,35.0745008 49.6459163,41.306181 45.8110362,45.1410611 C42.0067535,48.9453438 35.8770648,48.9759412 32.0217864,45.2532517 L31.9095958,45.1410611 L16.9372447,30.16871 L20.1499767,26.955978 L35.1223278,41.9283291 C37.1927551,43.9987564 40.538076,43.9987564 42.6085033,41.9283291 C44.6585323,39.8783001 44.6789306,36.5737758 42.6696982,34.5033485 L42.6085033,34.4421536 L38.3350598,30.16871 L41.5477918,26.955978 L45.8110362,31.2396207 Z M21.7512432,19.4698025 L6.77889209,34.4421536 C4.7084648,36.5125809 4.7084648,39.8579018 6.77889209,41.9283291 C8.82892108,43.9783581 12.1334454,43.9987564 14.2038727,41.989524 L14.2650676,41.9283291 L18.5385111,37.6548856 L21.7512432,40.8676176 L17.4777996,45.1410611 C13.6429195,48.9759412 7.41123934,48.9759412 3.57635923,45.1410611 C-0.227923431,41.3367784 -0.258520878,35.2070898 3.46416859,31.3518113 L3.57635923,31.2396207 L18.5487103,16.2672696 L21.7512432,19.4698025 Z" id="Shape" fill="currentColor" fill-rule="nonzero"></path>
                    </g>
                </svg>
                <p class="text">Pleio start op...</p>
            </div>
        </div>
    </div>

    {% if json_settings %}
    <script nonce="{{ CSP_NONCE }}">window.__SETTINGS__ = {{ json_settings|safe }};</script>
    {% endif %}

    {% if apollo_state %}
    <script nonce="{{ CSP_NONCE }}">window.__APOLLO_STATE__ = {{ apollo_state|safe }};</script>
    {% endif %}

    <script nonce="{{ CSP_NONCE }}">__webpack_nonce__ = '{{ CSP_NONCE }}';</script>

    {% if webpack_dev_server %}
    <script src="http://localhost:9001/vendor.js" nonce="{{ CSP_NONCE }}"></script>
    <script src="http://localhost:9001/web.js" nonce="{{ CSP_NONCE }}"></script>
    {% else %}
    <script src="{% static 'frontend/vendor.js' %}" nonce="{{ CSP_NONCE }}"></script>
    <script src="{% static 'frontend/web.js' %}" nonce="{{ CSP_NONCE }}"></script>
    {% endif %}

    {% if config.CUSTOM_JAVASCRIPT %}
    <script nonce="{{ CSP_NONCE }}">
        {{ config.CUSTOM_JAVASCRIPT|safe }}
    </script>
    {% endif %}

    {% include 'elements/analytics.html' %}
</body>
</html>
