{% extends "base_closed.html" %}

{% load i18n %}

{% block content %}
<h1 class="walled-garden_title">Geen IE11 ondersteuning</h1>
<p>
    Internet Explorer 11 is een verouderde browser die door ons platform niet meer wordt ondersteund.
    We streven ernaar dat al onze gebruikers van alle functionaliteiten op ons platform gebruik kunnen maken.
    Open deze site daarom in een modernere browser, zoals bijvoorbeeld <strong>Chrome</strong>, <strong>Mozilla Firefox</strong> of <strong>Microsoft Edge</strong>.
</p>

{% endblock %}
