{% extends "base.html" %}

{% load widget_tweaks %}
{% load i18n %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Agreements</h1>
    </div>

    {% for agreement in agreements %}
        <div class="card mb-3">
            <h6 class="card-header">{{ agreement.name }}</h6>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Version</th>
                        <th scope="col">Document</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for version in agreement.versions.all %}
                        <tr>
                            <td>{{ version.version }}</td>
                            <td>{{ version.document }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="3"><a href="{% url "agreement_add_version" agreement.id %}">Add version</a></td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    {% endfor %}
    <div>
        <a class="btn btn-primary" href="{% url "agreement_add" %}">Add document</a>
    </div>

{% endblock %}
