{% load static %}{% load url_helpers %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>{% block document_title %}Control{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'dashboard.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'charts-3.4.0.js' %} "></script>
    {% block html_head %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-light p-3">
    <div class="container-fluid">
        <div class="navbar-brand visually-hidden">Pleio Control</div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link {% maybe_active_url "home" %}" aria-current="page" href="{% url "home" %}">
                        <span data-feather="home"></span>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% maybe_active_url "site_index"  %}" href="{% url "site_index" %}">
                        <span data-feather="layers"></span>
                        Sites
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% maybe_active_url "tasks" %}" href="{% url "tasks" %}">
                        <span data-feather="layers"></span>
                        Tasks
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <main class="col">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-primary {% if message.tags == 'error' %}alert-danger{% endif %}{% if message.tags == 'success' %}alert-success{% endif %} mt-2"
                         role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
        </main>
    </div>
</div>
<script src="{% static 'bootstrap.bundle.min.js' %} "></script>
<script src="{% static 'jquery.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>
