{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <div class="row my-3">
        <div class="col-12 col-md-6 col-lg-5">
            <div class="card mb-3">
                <h5 class="card-header">{% blocktrans %}Cluster: {{ name }}{% endblocktrans %}</h5>
                <div class="card-body">
                    <h5 class="card-title">{{ site_count }}</h5>
                    <p class="card-text">Sites</p>
                </div>
            </div>
            <div class="card mb-3">
                <h5 class="card-header">{% trans "Search by e-mail" %}</h5>
                <div class="card-body">
                    <form method="GET" action="{% url "search_user" %}">
                        <p class="form-group">
                            <input type="email" name="email" id="email" value="{{ request.GET.email }}"
                                   class="form-control" placeholder="mail@example.com"
                                   required>
                        </p>
                        <p class="form-group">
                            <button class="btn btn-primary" type="submit">{% trans "Search" %}</button>
                        </p>
                    </form>
                </div>
            </div>
            <div class="card mb-3">
                <h5 class="card-header">{% trans "Search for a website" %}</h5>
                <div class="card-body">
                    <form method="GET" action="{% url "site_index" %}">
                        <p class="form-group">
                            <input type="text" name="domain" id="domain" value="{{ request.GET.domain }}"
                                   class="form-control mb-2" placeholder="{% trans "Domain" %}">
                            <input type="text" name="schema_name" id="schema_name"
                                   value="{{ request.GET.schema_name }}"
                                   class="form-control mb-2" placeholder="{% trans "Schema" %}">
                            <input type="hidden" name="is_active" value="True">
                        </p>
                        <p class="form-group">
                            <button class="btn btn-primary" type="submit">{% trans "Search" %}</button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-5">

            <div class="card mb-3">
                <h5 class="card-header">{% trans "Snapshots" %}</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12" style="{% if snapshots_yesterday_finisedh_count == snapshots_yesterday_total %}color: green;{% else %}color: red;{% endif %}">
                            <h5 class="card-title">{{ snapshots_yesterday_finisedh_count }} / {{ snapshots_yesterday_total }}</h5>
                            <p class="card-text">{% trans "Finished" %}</p>
                        </div>
                    </div>
                    <div>
                        {% if snapshots_yesterday_not_finished %}
                            <br>
                            <p>{% trans "Check the status of the following snapshots" %}</p>
                            <ul>
                                {% for snapshot in snapshots_yesterday_not_finished %}
                                    <li><a href="{% url "site_snapshot" snapshot.client.id %}">{{ snapshot.client.schema_name }}</a>  - {{ snapshot.status }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <h5 class="card-header">{% trans "Downloads" %}</h5>
                <div class="card-body">
                    <ul>
                        <li><a href="{% url "download_site_owners" %}">{% trans "Overview of site owners" %}</a></li>
                        <li><a href="{% url "download_site_admins" %}">{% trans "Overview of site administrators" %}</a></li>
                    </ul>
                </div>
            </div>
            <div class="card mb-3">
                <h5 class="card-header">{% trans "Tools" %}</h5>
                <div class="card-body">
                    <ul>
                        <li><a href="{% url "agreements" %}">Agreements</a></li>
                        <li><a href="{% url "avatar_permission_status" %}">Avatar read access status</a></li>
                        <li><a href="{% url "elasticsearch_status" %}">Elasticsearch status overview</a></li>
                        <li><a href="{% url "post_deploy_report" %}">Post deploy report</a></li>
                        <li><a href="{% url "security_txt" %}">Update Security.txt</a></li>
                        <li><a href="{% url "stats_container_url" %}">Update stats.pleio.nl container URL</a></li>
                        <li><a href="{% url "user_sync_index" %}">User sync events</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
