{% extends "base.html" %}

{% load i18n %}
{% load url_helpers %}

{% block content %}
    <div class="row my-3">
        <div class="col">
            <h1 class="h2 mx-3">Tasks</h1>
            <table class="table" width="100%">
                <thead>
                <tr>
                    <th scope="col" width=175>Date</th>
                    <th scope="col">Site</th>
                    <th scope="col">Name</th>
                    <th scope="col">State</th>
                    <th scope="col">Response</th>
                </tr>
                </thead>
                <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>{{ task.created_at|date:'Y-m-d H:i' }}</td>
                        <td>{{ task.client }}</td>
                        <td>{{ task.name }}</td>
                        <td>{{ task.state }}</td>
                        <td>{{ task.response }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% include "elements/pagination.html" with pagination_container=tasks %}
        </div>
    </div>
{% endblock %}
