{% load i18n %}
{% load external_content %}

{% if similar_content %}
    {% for entity, item in similar_content %}
        <div class="row mt-2">
            <div class="col-12">
                <div class="border-top pt-1">
                    <a href="{{ item.url }}"
                       target="_blank">{{ entity|article_published_datetime|date }} - {{ item.title }}</a><br>
                    <span class="form-text">id:{{ item.id|slice:":8" }} | {{ item.reason }}</span>
                </div>
            </div>
            {% for category in item.category_tags %}
                <div class="col"><small><strong>{{ category.name }}:</strong> {{ category.values|join:", " }}
                </small></div>
            {% endfor %}

        </div>
    {% endfor %}
{% else %}
    <strong>{% blocktrans %}Did not find similar content{% endblocktrans %}</strong>
{% endif %}
