{% load i18n %}
{% blocktrans with name=notification.performer_name group_url=notification.entity_url group_name=notification.entity_group_name %}
    <strong>{{ name }}</strong> has mentioned you in a conversation in <strong><a href="{{ group_url }}">{{ group_name }}</a></strong>.
{% endblocktrans %}
