{% load i18n %}
<strong>{{ notification.performer_name }}</strong>
{% blocktrans %} has mentioned you at: {% endblocktrans %}
<strong><a href="{{ notification.entity_url }}">{{ notification.entity_title }}</a></strong>
{% if notification.entity_group %} in <strong><a href="{{ notification.entity_group_url }}">{{ notification.entity_group_name }}</a></strong>
{% endif %}.
