{% load i18n %}
<form method="POST">
    {% csrf_token %}
    <input type="hidden" name="index_name" value="{{ index_id }}">
    <div class="btn-group">
        <button class="btn btn-sm btn-success" name="complement_index">{% trans "Complement index" %}</button>
        <button class="btn btn-sm btn-warning" name="update_index">{% trans "Index content" %}</button>
        <button class="btn btn-sm btn-danger" name="rebuild_index">{% trans "Rebuild index" %}</button>
    </div>
</form>
