{% load i18n %}
<form method="POST">
    {% csrf_token %}
    <input type="hidden" name="index_name" value="*">
    <div class="btn-group">
        <button class="btn btn-success" name="complement_index">{% trans "Complement all indices" %}</button>
        <button class="btn btn-warning" name="update_index">{% trans "Index all content" %}</button>
        <button class="btn btn-danger" name="rebuild_index">{% trans "Rebuild all indices" %}</button>
    </div>
</form>
