{% load i18n %}

{% if SHOW_OWNER_AT_BLOG %}
    <strong>{{ notification.performer_name }}</strong>
    {% blocktrans %} has posted a new Blog: {% endblocktrans %}<strong>&nbsp;<a href="{{ notification.entity_url }}">{{ notification.entity_title }}</a></strong>{% if notification.entity_group %} in <strong><a href="{{ notification.entity_group_url }}">{{ notification.entity_group_name }}</a></strong>{% endif %}.
{% else %}
    {% blocktrans %}A new Blog has been posted:{% endblocktrans %} <strong>&nbsp;<a href="{{ notification.entity_url }}">{{ notification.entity_title }}</a></strong>{% if notification.entity_group %} in <strong><a href="{{ notification.entity_group_url }}">{{ notification.entity_group_name }}</a></strong>{% endif %}.
{% endif %}
{% if show_excerpt %}
    <div style="margin:0;padding:8px 0 0 0;">{{ notification.entity_description|truncatewords:26 }}</div>
{% endif %}
