{% load i18n %}

{% if SHOW_OWNER_AT_WIKI %}
    <strong>{{ notification.performer_name }}</strong>
    {% blocktrans %} has posted a new Wiki: {% endblocktrans %}<strong>&nbsp;<a href="{{ notification.entity_url }}">{{ notification.entity_title }}</a></strong>{% if notification.entity_group %} in <strong><a href="{{ notification.entity_group_url }}">{{ notification.entity_group_name }}</a></strong>{% endif %}. <br><br>
{% else %}
    {% blocktrans %}A wiki has been posted:{% endblocktrans %}<strong>&nbsp;<a href="{{ notification.entity_url }}">{{ notification.entity_title }}</a></strong>{% if notification.entity_group %} in <strong><a href="{{ notification.entity_group_url }}">{{ notification.entity_group_name }}</a></strong>{% endif %}. <br><br>
{% endif %}
{% if show_excerpt %}
    <div style="margin:0;padding:8px 0 0 0;">{{ notification.entity_description|truncatewords:26 }}</div><br><br>
{% endif %}
