{% load i18n %}

<strong>{{ notification.performer_name }}</strong>
{% blocktrans %} has responded at: {% endblocktrans %}<strong><a href="{{ notification.entity_url }}">{{ notification.entity_title }}</a></strong>{% if notification.entity_group %} in <strong><a href="{{ notification.entity_group_url }}">{{ notification.entity_group_name }}</a></strong>{% endif %}.
{% if show_excerpt %}
    <div style="margin:0;padding:8px 0 0 0;">{{ notification.entity_description|truncatewords:26 }}</div>
{% endif %}
